/* Account for the top navbar. */

body {
    padding-top: 50px;
}

@media (max-width: 979px) {
    body {
        padding-top: 0;
    }
    .nav-collapse.in .btn-group {
      margin-top: 0;
    }
}

@media (min-width: 980px) {
    :target {
        padding-top: 80px;
        margin-top: -80px;
        display: inline-block; /* required for webkit browsers */
    }
}


p {
    text-align: justify;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

.brand > a {
    color: #777;
    text-decoration: none;
}

.brand > a:hover {
    color: #333;
    text-decoration: none;
}

.navbar .brand {
	padding-bottom: 0;
}

.navbar .navbar-search .input-append {
  margin: 0px;
}

.dropdown .caret {
	vertical-align: middle;
	margin-top: -3px;
}

.logo {
    margin-top: -5px;
    padding-right: 5px;
    line-height: 25px;
    height: 25px;
}

.right-logo {
    width: 14em;
    float: left;
    margin: 1em 3em 1em 0em;
}

/* Holds semantic titles on the main page. */
.nixos-org-index > h1,
.nixos-org-index > h2 {
    height: 0;
    margin: 0;
    padding: 0;
    text-indent: -999em;
}
.nixos-org-index > hr {
    margin-bottom: 0;
}

.nixos-org-index .more-about .learn-more {
    display: block;
    /*text-align: right;*/
}

.nixos-org-index .and-more ul {
	list-style-type: none;
	margin: 0;
}
.nixos-org-index .and-more ul li {
	margin: 0;
}

@media (max-width: 767px) {
    .jumbotron-two > div > div::after {
        content: "";
        display: block;
        clear: both;
    }
    .jumbotron-two .learn-more {
        float: right;
    }
}
@media (min-width: 768px) {
    /* Punny name, as it is both the second jumobtron implementation
       and a two elements side-by-side thing. */
    .jumbotron-two {
        display: table;
		/* 14px/20px equivalent */
		line-height: 1.429;
    }
    .jumbotron-two p {
		font-size: 1.2em;
	}
    .jumbotron-two > div {
        display: table-row;
    }
    .jumbotron-two > div > div {
        width: 50%;
        position: relative;
        display: table-cell;
        padding-bottom: 35px;
    }
    .jumbotron-two > div > div:not(:first-child) {
        padding-left: 15px;
    }
    .jumbotron-two > div > div:not(:last-child) {
        padding-right: 15px;
    }
    .jumbotron-two .learn-more {
        position: absolute;
        bottom: 0;
        right: 0;
    }
    .jumbotron-two div:not(:last-child) > .learn-more {
        right: 15px;
    }
}

h2, div.docbook h1 {
    font-weight: normal;
    font-size: 200%;
}

h3, div.docbook h2 {
    font-weight: normal;
    font-size: 150%;
}

h4, div.docbook h3 {
    font-weight: normal;
    font-size: 140%;
}

div.docbook h4 {
    font-weight: normal;
    font-size: 130%;
}

div.page-header {
    //margin-bottom: 1em;
}

section {
    margin-top: 1.5em;
}

section h2 {
    border-bottom: 1px solid #f0f0f0;
}

.center {
    text-align: center;
}

pre {
    box-shadow: 0.1em 0.1em 0.5em #e0e0e0;
}

.shell-prompt {
    color: #999;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div.main li {
    margin-bottom: 0.5em;
}

div.main .nav li {
    margin-bottom: -1px;
}

div.main .nav {
  margin-bottom: 0;
}

div.main .tab-content {
  border: 1px solid #ddd;
  border-top: 0;
  padding: 1em;
}

div.main .tab-content .row {
  margin: 1em;
}

/* Inline (floating) images. */
img.inline {
    float: right;
    margin-left: 1em;
    margin-bottom: 1em;
}

/* Release tables. */
.reldate {
    font-style: italic;
}

/* List of recent blogs. */

ul.nixos-blogs {
    list-style-type: none;
    margin-left: 0;
}

ul.nixos-blogs a {
    color: inherit;
}

ul.nixos-blogs > li {
    border-top: 1px solid rgb(226, 234, 238);
    margin-bottom: 0em;
}

ul.nixos-blogs > li:nth-child(odd) {
    background-color: rgb(247, 251, 252);
}

div.nixos-blog {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    min-height: 36px;
}

div.nixos-blog-title {
    font-weight: bold;
}

div.nixos-blog-author-info {
    font-size: 90%;
}

.popover { max-width: 30em; }


/* News items. */

table.news {
  padding: 0 0 0 0;
}

table.news td {
   border: 0px;
}

tr.news-header {
  font-size: 100%;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  border-bottom: solid #c0c0c0 1px;
}

.news-date {
  text-align: right;
  vertical-align: top;
  font-weight: normal;
  font-style: italic;
  width: 25%;
  color: #808080;
}

.news-short {
  font-weight: bold;
  font-size: 140%;
  color: #404040;
  padding-left: 0;
  height: 2em;
}

.news-descr > td {
  text-align: justify;
  padding-top: 0.5em;
  padding-bottom: 1em;
  padding-left: 0;
}

.news-descr p:first-child {
  margin-top: 0;
}

.news-descr p {
  margin-top: 1em;
  margin-bottom: 0em;
}


/* Package/option search. */

table#search-results tbody tr.result {
    cursor: pointer;
}

table#search-results tr.odd > td {
    background-color: #f5f5f5;
}

table#search-results tr.details > td:hover {
    background-color: white;
}

div.search-details {
    margin-left: 1em;
    margin-right: 1em;
}

div.search-details th, div.search-details td {
    border-top: 0;
}

div.search-details td.pre {
    white-space: pre-wrap;
    font-family: monospace;
}

td.option {
    font-family: monospace;
}

div.search-details td.nix {
    white-space: pre-wrap;
    font-family: monospace;
}

#search-results .description.docbook p > .docbook-important {
    margin-top: 0.5rem;
}

#search-results .description.docbook .docbook-important {
    border-left: #F89406 solid 0.3rem;
    padding-left: 0.5rem;
}

/* Manual. */

div.docbook div.page-header {
    margin-top: 4em;
}

div.docbook section {
    margin-top: 2em;
}

div.docbook div.example {
    margin-top: 1.5em;
}

div.docbook br.example-break {
    display: none;
}

div.docbook div.footnotes > br {
    display: none;
}

div.docbook dt {
    margin-top: 1em;
}

div.docbook code {
    padding: 0;
    border: 0;
    background-color: inherit;
    color: inherit;
    font-size: 100%;
    white-space: normal;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    hyphens: none;
}

div.docbook div.toc {
    margin-bottom: 3em;
    border-bottom: 1px solid #f0f0f0;
}

div.docbook div.toc dd {
    margin-left: 2em;
}

div.docbook pre.hljs {
    overflow-x: visible;
}

div.docbook span.command {
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace; /* from bootstrap*/
    -webkit-hyphens: none;
    -moz-hyphens: none;
    hyphens: none;
}

.license ul {
    margin-left: 0px;
}

.license li {
    display: inline;
    list-style: none;
    content: ", ";
}

.license li:after {
    content: ", ";
}

.license li:last-child:after {
    content: "";
}

.footer {
  background: #f2f2f2;
  margin-top: 2em;
  padding: 1em 0 1.4em 0;
  font-size: 14px;
}
.footer a {
  color: #646464;
}
.footer a:hover {
  color: #949494;
  text-decoration: none;
}

.footer h4 {
  color: #343434;
  font-size: 18px;
}

.footer ul {
  list-style: none;
  margin:0;
  padding-bottom: 0.5em;
}

@media (max-width: 767px) {
  .footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* Centers the `get` button with the image.
 * 196px is the width of the image.
 */
@media (min-width: 980px) {
  .get-button {
    max-width: 196px;
    text-align: center;
  }
}

/* Comma-separated lists */
ul.comma-separated > li {
  list-style-type: none;
  display: inline;
}
ul.comma-separated > li:after {
  content: ",";
}
ul.comma-separated > li:last-of-type:after {
  display: none;
}


/*
 * index.tt
 */

@media (min-width: 980px) {
  .packages-searchbox .input-append button.btn {
    font-size: 28px;
    height: 54px;
  }

  .packages-searchbox .input-append input {
    font-size: 28px;
    height: 44px;
  }
}

@media (min-width: 768px) {
  .home-examples {
    margin: 0;
    margin-top: 30px;
    padding: 1em;
    border: 1px solid #DDDDDD;
    border-radius: 2px;
  }
}

.asciinema-player-wrapper {
  margin-top: 2em;
}

.home-examples h2 {
  border: 0;
}

.home-examples pre.well {
  margin-top: 1em;
  background: #333333;
  border-color: #333333;
  color: #FFFFFF;
  white-space: pre;
  overflow-x: auto;
}

/* Keep the player usable when the viewport is narrow */
@media (max-width: 767px) {
  /* Completely fill the width of the display on narrow displays. */
  .asciinema-player-wrapper {
    position: relative;
    margin-left: -20px;
    margin-right: -20px;
  }
  .asciinema-player-wrapper .asciinema-player {
    overflow: auto;
  }
}

/* [767 - 1158] */

/* Imitates the span6/span6 layout, but in a more flexible manner */
@media (min-width: 980px) {
  .side-by-side {
    display: flex;
  }
  .side-by-side > .hero {
    margin-right: 1em;
  }
  .asciinema-player-wrapper {
    width: 570px;
  }
}
@media (max-width: 979px) {
  .side-by-side > * {
    text-align: center;
  }

