div.skip-topbar {
    padding-top: 40px;
    margin-bottom: 1.5em;
}

@media (max-width: 979px) {
    div.skip-topbar {
        padding-top: 0;
        margin-bottom: 0;
    }
}

body {
    text-align: justify;
}

.logo {
    margin-top: -10px;
    height: 25px;
}

.right-logo {
    width: 12em;
    float: left;
    margin-right: 4em;
}

h1 {
    //color: #4040c0;
}

h2 {
    font-size: 200%;
    //color: #404040;
    margin-top: 1.0em;
    margin-bottom: 0.3em;
}

h3 {
    //color: #404040;
    font-weight: normal;
}

.center {
    text-align: center;
}

pre {
    box-shadow: 0.2em 0.2em 0.5em #e0e0e0;
}

/* Inline (floating) images. */
img.inline {
    float: right;
    margin-left: 1em;
    margin-bottom: 1em;
}

/* Release tables. */
.reldate {
    font-style: italic;
}

table.releases td {
    border: 0px;
}

/* Screenshot table. */
table.screenshots {
    border-style: hidden;
}

table.screenshots td {
    vertical-align: middle;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border: 0px;
    border-bottom: 1px dotted black;
}

table.screenshots img, img.screenshot {
    box-shadow: 0.4em 0.4em 0.5em #a0a0a0;
}


/* List of recent commits. */

ul.nixos-commits {
    list-style-type: none;
    margin-left: 0;
}

ul.nixos-commits a {
    color: inherit;
}

ul.nixos-commits > li {
    border-top: 1px solid rgb(226, 234, 238);
}

ul.nixos-commits > li:nth-child(odd) {
    background-color: rgb(247, 251, 252);
}

div.nixos-commit {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    min-height: 36px;
}

img.nixos-commit-avatar {
    float: left;
    width: 36px;
    height: 36px;
    border-radius: 4px;
    margin-right: 0.5em;
}

div.nixos-commit-summary {
    font-weight: bold;
}

div.nixos-commit-author-info {
    font-size: 90%;
}


/* List of recent blogs. */

ul.nixos-blogs {
    list-style-type: none;
    margin-left: 0;
}

ul.nixos-blogs a {
    color: inherit;
}

ul.nixos-blogs > li {
    border-top: 1px solid rgb(226, 234, 238);
}

ul.nixos-blogs > li:nth-child(odd) {
    background-color: rgb(247, 251, 252);
}

div.nixos-blog {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    min-height: 36px;
}

div.nixos-blog-title {
    font-weight: bold;
}

div.nixos-blog-author-info {
    font-size: 90%;
}
