[% WRAPPER layout.tt title="Nix help" menu='nix' %]

<h2>Manual</h2>

<p>The <a href="[% nixManual %]"> Nix manual</a> (<a href="[%
nixManualPDF %]">PDF</a>) tells you everything you need to know about
installing and using Nix.  It also describes the Nix expression
language.</p>

[% END %]
