---
interface Props {
  text?: string;
  subtext?: string;
  parentPath?: string;
}

const { text = '', subtext, parentPath = undefined }: Props = Astro.props;

import Container from './Container.astro';
---

<div
  class="inline-svg-header-nixdarkblue hidden bg-cover bg-bottom bg-no-repeat py-24 md:block"
>
  <Container class="text-primary-white grid grid-cols-3">
    <div class="col-span-2 flex flex-col gap-4">
      {
        parentPath && (
          <a
            href={parentPath}
            class="text-primary-white! invisible -mt-6 -mb-4 md:visible"
          >
            <span class="text-nixblue">←</span> Back
          </a>
        )
      }
      <h1 class="font-heading text-left text-4xl font-bold">
        {text}
      </h1>
      {subtext && <p class="text text-left" set:html={subtext} />}
    </div>
  </Container>
</div>

<div class="bg-secondary-afghani-blue text-primary-white md:hidden">
  <Container class="px-12 py-16">
    <h1 class="text-center text-3xl font-bold">
      {text}
    </h1>
  </Container>
</div>
