---
interface Props {
  text?: string;
  subtext?: string;
  parentPath?: string;
}

const { text = '', subtext, parentPath = undefined }: Props = Astro.props;

import Headline from '../ui/typography/Headline.astro';
import Paragraph from '../ui/typography/Paragraph.astro';
import Link from '../util/Link.astro';
import Container from './Container.astro';
---

<div
  class="md:inline-svg-header-nixdarkblue bg-secondary-afghani-blue-45 block bg-cover bg-bottom bg-no-repeat py-16 md:bg-transparent md:py-24"
>
  <Container class="text-primary-white grid grid-cols-3">
    <div class="col-span-2 flex flex-col gap-4">
      {
        parentPath && (
          <Link variant="white" href={parentPath}>
            <span class="text-nixblue">←</span> Back
          </Link>
        )
      }
      <Headline level={1} variant="white">
        {text}
      </Headline>
      {subtext && <Paragraph size="sm" variant="white" set:html={subtext} />}
    </div>
  </Container>
</div>
