[% WRAPPER layout.tt title="Disnix documentation" menu='disnix' %]

<p>
The
<a href="https://hydra.nixos.org/job/disnix/disnix-trunk/tarball/latest/download-by-type/doc/manual">Disnix manual</a>
(<a href="https://hydra.nixos.org/job/disnix/disnix-trunk/tarball/latest/download-by-type/doc-pdf/manual">PDF version</a>)
tells you everything you need to know about installing and using Disnix.
</p>

<p>
The documentation of 
<a href="https://hydra.nixos.org/job/disnix/disnixos-trunk/tarball/latest/download-by-type/doc/manual">DisnixOS</a>
(<a href="https://hydra.nixos.org/job/disnix/disnixos-trunk/tarball/latest/download-by-type/doc-pdf/manual">PDF version</a>)
explains additional features for complementary infrastructure deployment.
</p>

<p>
To use SOAP instead of SSH as a communication protocol consult the
<a href="https://hydra.nixos.org/job/disnix/DisnixWebService-trunk/tarball/latest/download-by-type/doc/manual">DisnixWebService</a>
(<a href="https://hydra.nixos.org/job/disnix/DisnixWebService-trunk/tarball/latest/download-by-type/doc-pdf/manual">PDF version</a>)
manual that provides a SOAP communication layer.
</p>

<h3>Blog posts</h3>

<p>
There are various blog posts available describing Disnix's purpose, its extensions and how it can be applied:
</p>

<ul>
<li>Sander van der Burg, <a href="https://sandervanderburg.blogspot.com/2016/08/an-extended-self-adaptive-deployment.html"><strong>An extended self-adaptive deployment framework for service-oriented systems</strong></a>, August 2016.</li>
<li>Sander van der Burg, <a href="https://sandervanderburg.blogspot.com/2016/06/using-disnix-as-remote-package-deployer.html"><strong>Using Disnix as a remote package deployer</strong></a>, June 2016.</li>
<li>Sander van der Burg, <a href="https://sandervanderburg.blogspot.com/2016/06/deploying-containers-with-disnix-as.html"><strong>Deploying containers with Disnix as primitives for multi-layered service deployments</strong></a>, June 2016.</li>
<li>Sander van der Burg, <a href="https://sandervanderburg.blogspot.com/2016/05/mapping-services-to-containers-with.html"><strong>Mapping services to containers with Disnix and a new notational convention</strong></a>, May 2016.</li>
<li>Sander van der Burg, <a href="https://sandervanderburg.blogspot.com/2016/04/managing-state-of-mutable-components-in.html"><strong>Managing the state of mutable components in NixOS configurations with Dysnomia</strong></a>, April 2016.</li>
<li>Sander van der Burg, <a href="https://sandervanderburg.blogspot.com/2016/01/disnix-05-release-announcement-and-some.html"><strong>Disnix 0.5 release announcement and some reflection</strong></a>, January 2016.</li>
<li>Sander van der Burg, <a href="https://sandervanderburg.blogspot.com/2015/11/deploying-services-to-heterogeneous.html"><strong>Deploying services to a heterogeneous network of machines with Disnix</strong></a>, November 2015.</li>
<li>Sander van der Burg, <a href="https://sandervanderburg.blogspot.com/2015/08/deploying-target-specific-services-with.html"><strong>Deploying target-specific services with Disnix</strong></a>, August 2015.</li>
<li>Sander van der Burg, <a href="https://sandervanderburg.blogspot.com/2015/07/assigning-port-numbers-to-microservices.html"><strong>Assigning port numbers to (micro)services in Disnix deployment models</strong></a>, August 2015.</li>
<li>Sander van der Burg, <a href="https://sandervanderburg.blogspot.com/2015/07/deploying-state-with-disnix.html"><strong>Deploying state with Disnix</strong></a>, July 2015.</li>
<li>Sander van der Burg, <a href="https://sandervanderburg.blogspot.com/2015/03/disnix-03-release-announcement.html"><strong>Disnix 0.3 release announcement</strong></a>, March 2015.</li>
<li>Sander van der Burg, <a href="https://sandervanderburg.blogspot.com/2015/03/on-nixops-disnix-service-deployment-and.html"><strong>On NixOps, Disnix, service deployment and infrastructure deployment</strong></a>, March 2015.</li>
<li>Sander van der Burg, <a href="https://sandervanderburg.blogspot.com/2013/05/a-reference-architecture-for.html"><strong>A Reference Architecture for Distributed Software Deployment</strong></a>, May 2013.</li>
<li>Sander van der Burg, <a href="https://sandervanderburg.blogspot.com/2012/03/deployment-of-mutable-components.html"><strong>Deployment of mutable components</strong></a>, March 2012.</li>
<li>Sander van der Burg, <a href="https://sandervanderburg.blogspot.com/2011/10/deploying-net-services-with-disnix.html"><strong>Deploying .NET services with Disnix</strong></a>, October 2011.</li>
<li>Sander van der Burg, <a href="https://sandervanderburg.blogspot.com/2011/03/self-adaptive-deployment-with-disnix.html"><strong>Self-adaptive deployment with Disnix</strong></a>, March 2011.</li>
<li>Sander van der Burg, <a href="https://sandervanderburg.blogspot.com/2011/02/disnix-toolset-for-distributed.html"><strong>Disnix: A toolset for distributed deployment</strong></a>, February 2011.</li>
</ul>

<h3>Research papers</h3>

<p>
We also have a number of research papers available about Disnix:
</p>

<ul>

<li>
<p>
Sander van der Burg, <strong>A Reference Architecture for Distributed Software Deployment</strong>,
PhD thesis,
<a href="http://www.tudelft.nl">Delft University of Technology</a>,
June 2013.
[<a href="http://www.st.ewi.tudelft.nl/~sander/index.php/phdthesis">pdf</a>]
</p>
</li>

<li>
Sander van der Burg, <a href="https://nixos.org/~eelco">Eelco Dolstra</a>,
<strong>Disnix: A toolset for distributed deployment</strong>,
In volume 79 of
<a href="http://www.journals.elsevier.com/science-of-computer-programming">Science of Computer Programming (SCP)</a>,
pages 52-69,
Elsevier,
January 2014.
[<a href="http://www.st.ewi.tudelft.nl/~sander/pdf/publications/vanderburg12-disnix.pdf">pdf</a>]
</li>

<li>
<p>
Sander van der Burg,
<strong>A Generic Approach for Deploying and Upgrading Mutable Software Components</strong>,
In
Danny Dig and Michael Wahler, editors,
<a href="http://www.hotswup.org/2012">Fourth Workshop on Hot Topics in Software Upgrades (HotSWUp)</a>.
Zurich, Switzerland,
IEEE Computer Society,
June 2012.
[<a href="http://www.st.ewi.tudelft.nl/~sander/pdf/publications/vanderburg12-mutable.pdf">pdf</a>]
</p>
</li>

<li>
<p>
Sander van der Burg, <a href="https://nixos.org/~eelco">Eelco Dolstra</a>,
<strong>A Self-Adaptive Deployment Framework for Service-Oriented Systems</strong>
In
<a href="https://www.hpi.uni-potsdam.de/giese/events/seams2011/">6th International Symposium on Software Engineering for Adaptive and Self-Managing Systems (SEAMS)</a>.
Waikiki, Honolulu, Hawaii, USA,
ACM,
May 2011.
[<a href="http://www.st.ewi.tudelft.nl/~sander/pdf/publications/vanderburg11-selfadaptive.pdf">pdf</a>]
</p>
</li>

<li>
<p>
Sander van der Burg, <a href="https://nixos.org/~eelco">Eelco Dolstra</a>,
<strong>Disnix: A toolset for distributed deployment</strong>,
In Mark van den Brand and Kim Mens and Holger Kienle and Anthony Cleve, editors,
<a href="http://www.info.fundp.ac.be/wasdett2010">Third International Workshop on Academic Software Development Tools and Techniques (WASDeTT-3)</a>.
Antwerp, Belgium,
WASDeTT,
September 2010.
[<a href="http://www.st.ewi.tudelft.nl/~sander/pdf/publications/vanderburg10-disnix.pdf">pdf</a>]
</p>
</li>

<li>
<p>
Sander van der Burg, <a href="https://nixos.org/~eelco">Eelco Dolstra</a>,
<strong>Automated Deployment of a Heterogeneous Service-Oriented System</strong>,
In
<a href="http://seaa2010.liacs.nl">36th EUROMICRO Conference on Software Engineering and Advanced Applications (SEAA)</a>.
Lille, France, IEEE Computer Society,
September 2010.
[<a href="http://www.st.ewi.tudelft.nl/~sander/pdf/publications/vanderburg10-automateddeployment.pdf">pdf</a>]
</p>
</li>

<li>
<p>
Sander van der Burg, <a href="https://nixos.org/~eelco">Eelco Dolstra</a>,
<a href="https://jongem.home.xs4all.nl">Merijn de Jonge</a>,
<a href="http://www.eelcovisser.org">Eelco Visser</a>,
<strong>Software Deployment in a Dynamic Cloud: From Device to Service Orientation in a Hospital Environment</strong>,
In
Kamal Bhattacharya and Martin Bichler and Stefan Tai, editors,
<a href="http://www.icse-cloud09.org">First ICSE 2009 Workshop on Software Engineering Challenges in Cloud Computing</a>.
Vancouver, British Columbia, Canada,
IEEE Computer Society,
May 2009.
[<a href="http://www.st.ewi.tudelft.nl/~sander/pdf/publications/vanderburg09-dynamiccloud.pdf">pdf</a>]
</p>
</li>

<li>
<p>
Sander van der Burg, <a href="https://nixos.org/~eelco">Eelco Dolstra</a>,
<a href="https://jongem.home.xs4all.nl/">Merijn de Jonge</a>,
<strong>Atomic Upgrading of Distributed Systems</strong>,
In Tudor Dumitras and Danny Dig and Iulian Neamtiu, editors,
<a href="http://www.hotswup.org/2008">First ACM Workshop on Hot Topics in Software Upgrades (HotSWUp)</a>.
Nashville, Tennessee, USA,
ACM,
October 2008.
[<a href="http://www.st.ewi.tudelft.nl/~sander/pdf/publications/vanderburg08-atomic.pdf">pdf</a>]
</p>
</li>

<li>
<p>
Sander van der Burg, <strong>Model-driven Distributed Software Deployment</strong>,
Master's thesis,
<a href="http://www.tudelft.nl">Delft University of Technology</a>,
March 2009.
[<a href="http://www.st.ewi.tudelft.nl/~sander/pdf/publications/vanderburg09-mastersthesis.pdf">pdf</a>]
</p>
</li>

</ul>

[% END %]
