*.html
*.xhtml

/hydra/manual/
/hydra/manual-raw

/nixos/amis.nix
/nixos/amis.json
/nixos/azure-blobs.nix
/nixos/azure-blobs.json
/nixos/manual/
/nixos/manual-raw
/nixos/nix-pills/
/nixos/nix-pills-raw
/nixos/options.json.gz
/nixos/screenshots/nixos-*-small.png

/nixpkgs/manual/
/nixpkgs/manual-raw
/nixpkgs/packages-unstable.json.gz
/nixpkgs/packages.json.gz

/blogs.json
/blogs.xml
/favicon.png
/news-rss.xml
/nixos-release.tt
/nixpkgs-commits.json
/nixpkgs-commit-stats.json
