*.html
*.xhtml

/nixos/manual/
/nixos/nix-pills/
/nixos/packages-explorer.js

/nixpkgs/manual/
/nixpkgs/packages-channels.json

/nix/manual/

/images/screenshots/nixos-*-small.png

/build/
/blogs.json
/blogs.xml
/demo.cast
/favicon.png
/favicon.ico
/news-rss.xml
/nixos-release.tt
/robots.txt

/result*
