/news.html
/index.html
/patchelf.html
/all-news.xhtml
/latest-news.xhtml
/about-us.html

/nixos/index.html
/nixos/download.html
/nixos/docs.html
/nixos/screenshots.html
/nixos/papers-in.html
/nixos/support.html
/nixos/screenshots/*-small.png

/nix/index.html
/nix/download.html
/nix/docs.html
/nix/papers-in.html

/nixpkgs/download.html
/nixpkgs/index.html
/nixpkgs/docs.html

/hydra/index.html

/development/index.html

/disnix/docs.html
/disnix/download.html
/disnix/examples.html
/disnix/extensions.html
/disnix/index.html
/disnix/support.html

/docs/papers-in.html
/docs/papers.html
