[%
  nixManual = "http://nixos.org/nix/manual"
  nixManualPDF = "http://nixos.org/releases/nix/latest/manual.pdf"
  nixpkgsManual = "http://nixos.org/nixpkgs/manual"
  nixosManual = "http://nixos.org/nixos/manual"
  latestNixVersion = "1.6.1"
  latestNixMirror = "http://nixos.org/releases/nix/nix-$latestNixVersion"
%]
