<!DOCTYPE html>

[% USE HTML %]
[% USE date %]

<html lang="en">

<head>
  <title>NixOS - [% title %]</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
  <script type="text/javascript" src="[% root %]js/jquery.min.js"></script>
  <script type="text/javascript" src="[% root %]js/jquery-ui.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script type="text/javascript" src="[% root %]bootstrap/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="[% root %]styles/styles.css" type="text/css" />

  <link rel="shortcut icon" type="image/png" href="/favicon.png" />
  <meta name="google-site-verification" content="ir-07nYvo3u3x_VmkTO1wCfYJ8uC-SrVBGR7hZgqPSE" />

  [% documentHeadTags.join("\n") %]

</head>

<body>
  <header>
    <div>
      <h1><a href="[% root %]">NixOS</a></h1>
      <div class="header-search">
        <div class="form-input">
          <input type="text" />
        </div>
      </div>
      <nav>
        <ul>
          <li><a href="[%root%]features.html">Features</a></li>
          <li><a href="[%root%]download.html">Download</a></li>
          <li><a href="[%root%]learn.html">Learn</a></li>
          <li><a href="[%root%]community.html">Community</a></li>
          <li><a href="[%root%]governance.html">Governance</a></li>
          <li><a href="[%root%]donate.html">Donate</a></li>
          <li class="install-nix"><a class="button -primary" href="#">Install Nix</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <main>
  [% IF !handlesLayout %]
  <div class="generic-layout">
  [% END %]

  [% content %]

  [% IF !handlesLayout %]
  </div>
  [% END %]
  </main>

  <footer>
    <div class="upper">
        <section>
          <h4>The project</h4>
          <ul>
            <li><a href="https://status.nixos.org/">Nix Channel Status</a></li>
            <li><a href="https://search.nixos.org/packages">Nix packages search</a></li>
            <li><a href="https://search.nixos.org/options">NixOS options search</a></li>
          </ul>
          <ul>
            <li><a href="https://nixos.org/governance.html">Governance</a></li>
            <li><a href="https://nixos.org/teams/security.html">Security</a></li>
          </ul>
        </section>
        <section>
          <h4>Contribute</h4>
          <ul>
            <li><a href="https://nixos.org/guides/contributing.html">Contributing Guide</a></li>
            <li><a href="https://nixos.org/donate.html">Donate</a></li>
          </ul>
          <h4>Stay up to date</h4>
          <ul>
            <li><a href="https://nixos.org/news.html">News</a></li>
            <li><a href="https://weekly.nixos.org/">NixOS Weekly</a></li>
          </ul>
        </section>
        <section>
          <h4>Get in Touch</h4>
          <ul>
            <li><a href="https://discourse.nixos.org/">Forum</a></li>
            <li><a href="https://webchat.freenode.net/#nixos">Chat</a></li>
            <li><a href="https://nixos.org/commercial-support.html">Commercial support</a></li>
          </ul>
        </section>
        <section>
          <h4>The choice is yours</h4>
          <pre style="border: 10px solid lime;">TODO</pre>
        </section>
    </div>
    <hr />
    <div class="lower">
      <section class="footer-copyright">
        <h4>NixOS</h4>
        <div>
          <span>
            Copyright © [% date.format(date.now, '%Y') %] NixOS
          </span>
          <a href="https://github.com/NixOS/nixos-homepage/blob/master/LICENSES/CC-BY-SA-4.0.txt">
            <abbr title="Creative Commons Attribution Share Alike 4.0 International">
              CC-BY-SA-4.0
            </abbr>
          </a>
        </div>
      </section>
      <section class="footer-social">
        <h4>Connect with us</h4>
        <ul>
          <li class="social-icon -twitter"><a href="https://twitter.com/nixos_org">Twitter</a></li>
          <li class="social-icon -youtube"><a href="https://www.youtube.com/channel/UC3vIimi9q4AT8EgxYp_dWIw">Youtube</a></li>
          <li class="social-icon -github"><a href="https://github.com/NixOS">GitHub</a></li>
        </ul>
      </section>
    </div>
  </footer>
  <script src="[% root %]js/nixos-site.js"></script>
  <script src="[% root %]js/asciinema-player.js"></script>
  [% IF anchors %]
  <script src="[% root %]js/anchor.min.js"></script>
  <script>
    anchors.add('main h1, main h2, main h3');
  </script>
  [% END %]

  [% documentEndTags.join("\n") %]

</body>

</html>
