<!DOCTYPE html>

[% USE HTML %]

<html lang="en">

  <head>
    <title>[% title %]</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />

    <script type="text/javascript" src="[% root %]js/jquery.min.js"></script>
    <script type="text/javascript" src="[% root %]js/jquery-ui.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script type="text/javascript" src="[% root %]bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="[% root %]bootstrap/css/bootstrap.min.css" />

    <link rel="stylesheet" href="[% root %]bootstrap/css/bootstrap-responsive.min.css" />

    <link rel="stylesheet" href="[% root %]css/nixos-site.css" type="text/css" />

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" />

    <link rel="shortcut icon" type="image/png" href="/favicon.png" />

  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <li class="dropdown brand">
            <a class="dropdown-toggle" href="#" data-toggle="dropdown">
              <img src="[% root %]logo/nix-wiki.png" alt="NixOS" class="logo" />
              [% IF menu == 'nix' %]
                Nix
              [% ELSIF menu == 'nixpkgs' %]
                Nixpkgs
              [% ELSIF menu == 'nixops' %]
                NixOps
              [% ELSIF menu == 'disnix' %]
                Disnix
              [% ELSIF menu == 'hydra' %]
                Hydra
              [% ELSE %]
                NixOS
              [% END %]
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="[%root%]">NixOS</a></li>
              <li><a href="[%root%]nix">Nix</a></li>
              <li><a href="[%root%]nixops">NixOps</a></li>
              <li><a href="[%root%]nixpkgs">Nixpkgs</a></li>
              <li class="divider"></li>
              <li><a href="[%root%]hydra">Hydra</a></li>
              <li><a href="[%root%]disnix">Disnix</a></li>
            </ul>
          </li>

          <div class="nav-collapse collapse">
            [% IF menu == 'nixos' %]
              <ul class="nav pull-left">
                <li><a href="[%root%]nixos/about.html">About</a></li>
                <li><a href="[%root%]nixos/download.html">Download</a></li>
                <li><a href="[%root%]nixos/support.html">Support</a></li>
                <li><a href="[%root%]nixos/community.html">Community</a></li>
                <li><a href="[%root%]nixos/security.html">Security</a></li>
                <li><a href="[%root%]nixos/manual">Manual</a></li>
              </ul>
              <ul class="nav pull-right">
                <!--
                <li><a href="https://github.com/NixOS/nixpkgs"><i class="fa fa-github"></i></a></li>
                <li><a href="https://twitter.com/nixos_org"><i class="fa fa-twitter"></i></a></li>
                -->
            [% ELSIF menu == 'nix' %]
              <ul class="nav pull-left">
                <li><a href="[%root%]nix/about.html">About</a></li>
                <li><a href="[%root%]nix/download.html">Download</a></li>
                <li><a href="[%root%]nix/manual/">Manual</a></li>
              </ul>
              <ul class="nav pull-right">
                <li><a href="https://github.com/NixOS/nix"><i class="fa fa-github"></i></a></li>
            [% ELSIF menu == 'hydra' %]
              <ul class="nav pull-left">
                <li><a href="[%root%]hydra/manual/">Manual</a></li>
              </ul>
              <ul class="nav pull-right">
                <li><a href="https://github.com/NixOS/hydra"><i class="fa fa-github"></i></a></li>
            [% ELSIF menu == 'nixpkgs' %]
              <ul class="nav pull-left">
                <li><a href="[%root%]nixpkgs/download.html">Download</a></li>
                <li><a href="[%root%]nixpkgs/manual">Manual</a></li>
              </ul>
              <ul class="nav pull-right">
                <li><a href="https://github.com/NixOS/nixpkgs"><i class="fa fa-github"></i></a></li>
            [% ELSIF menu == 'nixops' %]
              <ul class="nav pull-left">
                <li><a href="[%root%]nixops/manual/">Manual</a></li>
              </ul>
              <ul class="nav pull-right">
                <li><a href="https://github.com/NixOS/nixops"><i class="fa fa-github"></i></a></li>
            [% ELSIF menu == 'disnix' %]
              <ul class="nav pull-left">
                <li></li>
                <li><a href="[%root%]disnix/docs.html">Documentation</a></li>
                <li><a href="[%root%]disnix/extensions.html">Extensions</a></li>
                <li><a href="[%root%]disnix/examples.html">Examples</a></li>
                <li><a href="[%root%]disnix/download.html">Download</a></li>
                <li><a href="[%root%]disnix/support.html">Support</a></li>
              </ul>
              <ul class="nav pull-right">
                <li><a href="https://github.com/svanderburg/disnix"><i class="fa fa-github"></i></a></li>
            [% ELSIF menu == 'patchelf' %]
              <ul class="nav pull-right">
                <li><a href="https://github.com/NixOS/patchelf"><i class="fa fa-github"></i></a></li>
            [% ELSE %]
              <ul class="nav pull-right">
            [% END %]

              <form class="navbar-search" method="get" action="https://www.google.com/search">
                <input name="q" type="text" class="search-query span2" placeholder="Search nixos.org"/>
                <input name="sitesearch" type="hidden" value="nixos.org"/>
              </form>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container main">
      [% IF !hideTitle %]
        <div class="page-header">
          <h1>[% title %]</h1>
        </div>
      [% END %]

      [% content %]

      <div class="footer">
        <hr />
        <center>
        <small class="muted">
          [% IF modifiedAt %]
            Last changed on [% modifiedAt.substr(0, 10) %]
            · <a href="https://github.com/NixOS/nixos-homepage/blob/master/[%fileName%]">Page source</a>
            · <a href="https://github.com/NixOS/nixos-homepage/edit/master/[%fileName%]">Edit</a>
          [% ELSIF sourceLink %]
            <a [% HTML.attributes(href => sourceLink) %]>Source</a>
          [% END %]
        </small>
        </center>
      </div>

    </div>

    <script>
      $(document).ready(function() {
        $(".nixos-popover").popover({});
      });
    </script>

    [% IF anchors %]
      <script src="[% root %]js/anchor.min.js"></script>
      <script>
        anchors.add('h1,h2,h3');
      </script>
    [% END %]

  </body>

</html>
