.news {
  padding: 0 0 0 0;
}

tr.news-header {
  font-size: 100%;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  margin-bottom: 1em;
  background-color: #f4f8ff;
}

.news-date {
  vertical-align: top;
  font-weight: bold;
  margin: 0 0 0 0;
  padding-left: 20px;
  padding-right: 1em;
  width: 1%;
  color: #005aa0;
}

.news-short {
  font-weight: normal;
  font-style: italic;
  color: #005aa0;
}

.news-descr > td {
  padding-top: 0.5em;
  //padding-left: 1em;
  padding-bottom: 1em;
}
