body
{
    font-family: sans-serif;
    background: white;
    margin: 2em 1em 2em 1em;
}

h1, h2, h3 {
    font-weight: bold;
    color: #005aa0;
}

h1 {
    font-size: 220%;
    padding-left: 0.3em;
    padding-right: 0.3em;
}

h2 {
    font-size: 130%;
    padding-left: 0.3em;
    padding-right: 0.3em;
}

h3 {
    font-size: 100%;
    padding-left: 0.3em;
    padding-right: 0.3em;
}

h1 {
    background-color: #eef2ff;
    //font-variant: small-caps;
}

h2 {
    background-color: #f6f8ff;
    //font-variant: small-caps;
}

table {
    border-collapse: collapse;
}

th {
    text-align: center;
    font-weight: bold;
}

td, th {
    padding: 2px 5px;
}

th {
    background: #ffffc0;
}

a img {
    border: 0;
}

a {
    text-decoration: none;
}

a:hover, a:visited:hover {
    text-decoration: underline;
}


tr.odd > td {
    background: #f0f0f0;
}

li {
    margin-bottom: 1em;
    list-style: square;
}

pre {
    margin-left: 2em;
}
