// By design this component doesn't end up using the @gutter metrics.
// Instead we're working off font-based metrics.

.demo-preview {
  background: #theme.terminal[@background];
  overflow: hidden;
  position: relative;

  #screen-xs-max({
    width: 100%;
  });

  a {
    #text-replacement(
    @image-rules: {
      #svg.play;
      background-size: contain;
    },
    );
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 0;
    opacity: 0.78;

    &:hover, &:focus, &:active {
      opacity: 1;
    }
  }

  & > .thumbnail {
    position: relative;
    #columns-relative-width(4, @property: min-width);
  }

  & > .thumbnail svg {
    font-family: #theme.font[monospace];
    // px are fine here as it's inside the svg's context.
    letter-spacing: 0px;
    word-spacing: 0px;
    font-size: 25.5px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-stretch: normal;
    // Default color for the terminal text.
    fill: #theme.terminal[@foreground];

    margin-left: 0.3em;
    margin-top: 0.1em;
    #no-select();
    min-width: 100%;
    max-width: 100%;
    height: auto;
    overflow: hidden;
    .background {
      fill: #theme.terminal[@background];
    }

    // NOT A BUG: There is no support for background in svg tspans.
    // Background rects would need to be computed in-place, which cannot be
    // done because it also would require use to pre-compute font metrics.
    .make_colors(@counter: 15) when (@counter >= 0) {
      .make_colors((@counter - 1));
      .fg-@{counter} {
        @color: "color-@{counter}";
        fill: #theme.terminal[@@color];
      }
    }
    .make_colors();

    .fg-8,
    .fg-9,
    .fg-10,
    .fg-11,
    .fg-12,
    .fg-13,
    .fg-14,
    .fg-15 {
      font-weight: bold;
    }
  }
}
