---
import Card from '@/components/ui/Card.astro';

interface Props {
  title: string;
  subTitle: string;
  currentVersion: string;
}

const { title, subTitle, currentVersion } = Astro.props;
---

<Card class="mt-16 flex items-center justify-between bg-nix-blue text-white">
  <h2 class="font-heading text-3xl font-bold">
    {title}
    <span class="hidden lg:inline">
      {subTitle}
    </span>
  </h2>

  <div>
    <span class="hidden font-heading text-2xl font-bold md:inline">
      Current version
    </span>
    <span
      class="rounded-lg bg-nix-green px-2 py-1 text-center text-2xl font-bold"
    >
      {currentVersion}
    </span>
  </div>
</Card>
