<svg
  id="rfc-diagram"
  viewBox="0 0 848 584"
  role="img"
  aria-label="Diagram showing the RFC process in the following steps: New Submission, Nomination Phase, Discussion Phase, Final Comment Phase.
  This then either splits up into rejection and resubmission, a cancellation and refinement or a accepted submission."
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <title>NixOS RFC Process</title>
  <rect
    x="297"
    y="313"
    width="254"
    height="62"
    rx="11"
    fill="#D1D5DB"
    fill-opacity="0.3"
    stroke="#D1D5DB"
    stroke-width="2"></rect>
  <text
    fill="black"
    xml:space="preserve"
    style="white-space: pre"
    font-family="Roboto Flex Variable"
    font-size="18"
    letter-spacing="0em"
    ><tspan x="348" y="350.152">Final Comment Phase</tspan></text
  >
  <path
    d="M317 345.5V336C317 335.47 317.211 334.961 317.586 334.586C317.961 334.211 318.47 334 319 334H327.5L333 339.5V352C333 352.53 332.789 353.039 332.414 353.414C332.039 353.789 331.53 354 331 354H325.5"
    stroke="black"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"></path>
  <path
    d="M327 334V340H333"
    stroke="black"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"></path>
  <path
    d="M323.42 344.61C323.615 344.415 323.847 344.26 324.101 344.155C324.356 344.049 324.629 343.995 324.905 343.995C325.181 343.995 325.454 344.049 325.709 344.155C325.963 344.26 326.195 344.415 326.39 344.61C326.585 344.805 326.74 345.037 326.845 345.291C326.951 345.546 327.005 345.819 327.005 346.095C327.005 346.371 326.951 346.644 326.845 346.899C326.74 347.153 326.585 347.385 326.39 347.58L320.95 353L317 354L317.99 350.05L323.42 344.61Z"
    stroke="black"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"></path>
  <rect
    x="1"
    y="521"
    width="254"
    height="62"
    rx="11"
    fill="#D1D5DB"
    fill-opacity="0.3"
    stroke="#D1D5DB"
    stroke-width="2"></rect>
  <text
    fill="black"
    xml:space="preserve"
    style="white-space: pre"
    font-family="Roboto Flex Variable"
    font-size="18"
    letter-spacing="0em"><tspan x="52" y="558.152">New Submission</tspan></text
  >
  <path
    d="M21 562H35C35.5304 562 36.0391 561.789 36.4142 561.414C36.7893 561.039 37 560.53 37 560V547.5L31.5 542H23C22.4696 542 21.9609 542.211 21.5858 542.586C21.2107 542.961 21 543.47 21 544V548"
    stroke="black"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"></path>
  <path
    d="M31 542V548H37"
    stroke="black"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"></path>
  <path
    d="M20 555H26"
    stroke="black"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"></path>
  <path
    d="M23 552V558"
    stroke="black"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"></path>
  <rect
    x="297"
    y="521"
    width="254"
    height="62"
    rx="11"
    fill="#D1D5DB"
    fill-opacity="0.3"
    stroke="#D1D5DB"
    stroke-width="2"></rect>
  <text
    fill="black"
    xml:space="preserve"
    style="white-space: pre"
    font-family="Roboto Flex Variable"
    font-size="18"
    letter-spacing="0em"
    ><tspan x="348" y="558.152">Refine Submission</tspan></text
  >
  <path
    d="M317 562H331C331.53 562 332.039 561.789 332.414 561.414C332.789 561.039 333 560.53 333 560V547.5L327.5 542H319C318.47 542 317.961 542.211 317.586 542.586C317.211 542.961 317 543.47 317 544V551"
    stroke="black"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"></path>
  <path
    d="M327 542V548H333"
    stroke="black"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"></path>
  <path
    d="M323 558L326 555L323 552"
    stroke="black"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"></path>
  <path
    d="M317 558V557C317 556.47 317.211 555.961 317.586 555.586C317.961 555.211 318.47 555 319 555H325"
    stroke="black"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"></path>
  <rect
    x="1"
    y="417"
    width="254"
    height="62"
    rx="11"
    fill="#D1D5DB"
    fill-opacity="0.3"
    stroke="#D1D5DB"
    stroke-width="2"></rect>
  <text
    fill="black"
    xml:space="preserve"
    style="white-space: pre"
    font-family="Roboto Flex Variable"
    font-size="18"
    letter-spacing="0em"
    ><tspan x="52" y="454.152">Submission Rejected</tspan></text
  >
  <path
    d="M21 458H35C35.5304 458 36.0391 457.789 36.4142 457.414C36.7893 457.039 37 456.53 37 456V443.5L31.5 438H23C22.4696 438 21.9609 438.211 21.5858 438.586C21.2107 438.961 21 439.47 21 440V444"
    stroke="black"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"></path>
  <path
    d="M31 438V444H37"
    stroke="black"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"></path>
  <path
    d="M20 448.5L25 453.5"
    stroke="black"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"></path>
  <path
    d="M25 448.5L20 453.5"
    stroke="black"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"></path>
  <rect
    x="593"
    y="417"
    width="254"
    height="62"
    rx="11"
    fill="#D1D5DB"
    fill-opacity="0.3"
    stroke="#D1D5DB"
    stroke-width="2"></rect>
  <text
    fill="black"
    xml:space="preserve"
    style="white-space: pre"
    font-family="Roboto Flex Variable"
    font-size="18"
    letter-spacing="0em"
    ><tspan x="644" y="454.152">Submission Accepted</tspan></text
  >
  <path
    d="M613 458H627C627.53 458 628.039 457.789 628.414 457.414C628.789 457.039 629 456.53 629 456V443.5L623.5 438H615C614.47 438 613.961 438.211 613.586 438.586C613.211 438.961 613 439.47 613 440V444"
    stroke="black"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"></path>
  <path
    d="M623 438V444H629"
    stroke="black"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"></path>
  <path
    d="M612 451L614 453L618 449"
    stroke="black"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"></path>
  <rect
    x="297"
    y="417"
    width="254"
    height="62"
    rx="11"
    fill="#D1D5DB"
    fill-opacity="0.3"
    stroke="#D1D5DB"
    stroke-width="2"></rect>
  <text
    fill="black"
    xml:space="preserve"
    style="white-space: pre"
    font-family="Roboto Flex Variable"
    font-size="18"
    letter-spacing="0em"><tspan x="348" y="454.152">FCP Cancelled</tspan></text
  >
  <path
    d="M317 458H331C331.53 458 332.039 457.789 332.414 457.414C332.789 457.039 333 456.53 333 456V443.5L327.5 438H319C318.47 438 317.961 438.211 317.586 438.586C317.211 438.961 317 439.47 317 440V444"
    stroke="black"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"></path>
  <path
    d="M327 438V444H333"
    stroke="black"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"></path>
  <path
    d="M316 451H322"
    stroke="black"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"></path>
  <rect x="433" y="280" width="142" height="24" rx="12" fill="#E5E7EB"></rect>
  <text
    fill="#6B7280"
    xml:space="preserve"
    style="white-space: pre"
    font-family="Fira Mono"
    font-size="14"
    letter-spacing="0em"
    ><tspan x="445.238" y="296.676">Motion for FCP</tspan></text
  >
  <rect
    x="297"
    y="209"
    width="254"
    height="62"
    rx="11"
    fill="#D1D5DB"
    fill-opacity="0.3"
    stroke="#D1D5DB"
    stroke-width="2"></rect>
  <text
    fill="black"
    xml:space="preserve"
    style="white-space: pre"
    font-family="Roboto Flex Variable"
    font-size="18"
    letter-spacing="0em"
    ><tspan x="348" y="246.152">Discussion Phase</tspan></text
  >
  <path
    d="M317 250H331C331.53 250 332.039 249.789 332.414 249.414C332.789 249.039 333 248.53 333 248V235.5L327.5 230H319C318.47 230 317.961 230.211 317.586 230.586C317.211 230.961 317 231.47 317 232V235"
    stroke="black"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"></path>
  <path
    d="M327 230V236H333"
    stroke="black"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"></path>
  <path
    d="M320 238L317 240H315V244H317L320 246V238Z"
    stroke="black"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"></path>
  <path
    d="M324 239C324.64 239.8 325 240.87 325 242C325 243.13 324.64 244.2 324 245"
    stroke="black"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"></path>
  <rect
    x="297"
    y="105"
    width="254"
    height="62"
    rx="11"
    fill="#D1D5DB"
    fill-opacity="0.3"
    stroke="#D1D5DB"
    stroke-width="2"></rect>
  <text
    fill="black"
    xml:space="preserve"
    style="white-space: pre"
    font-family="Roboto Flex Variable"
    font-size="18"
    letter-spacing="0em"
    ><tspan x="348" y="142.152">Nomination Phase</tspan></text
  >
  <path
    d="M317 131V128C317 127.47 317.211 126.961 317.586 126.586C317.961 126.211 318.47 126 319 126H327.5L333 131.5V144C333 144.53 332.789 145.039 332.414 145.414C332.039 145.789 331.53 146 331 146H325"
    stroke="black"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"></path>
  <path
    d="M327 126V132H333"
    stroke="black"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"></path>
  <path
    d="M318 141C318.394 141 318.784 140.922 319.148 140.772C319.512 140.621 319.843 140.4 320.121 140.121C320.4 139.843 320.621 139.512 320.772 139.148C320.922 138.784 321 138.394 321 138C321 137.606 320.922 137.216 320.772 136.852C320.621 136.488 320.4 136.157 320.121 135.879C319.843 135.6 319.512 135.379 319.148 135.228C318.784 135.078 318.394 135 318 135C317.204 135 316.441 135.316 315.879 135.879C315.316 136.441 315 137.204 315 138C315 138.796 315.316 139.559 315.879 140.121C316.441 140.684 317.204 141 318 141Z"
    stroke="black"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"></path>
  <path
    d="M320 140.5L321 146L318 145L315 146L316 140.5"
    stroke="black"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"></path>
  <rect
    x="297"
    y="1"
    width="254"
    height="62"
    rx="11"
    fill="#D1D5DB"
    fill-opacity="0.3"
    stroke="#D1D5DB"
    stroke-width="2"></rect>
  <text
    fill="black"
    xml:space="preserve"
    style="white-space: pre"
    font-family="Roboto Flex Variable"
    font-size="18"
    letter-spacing="0em"><tspan x="348" y="38.1523">New Submission</tspan></text
  >
  <path
    d="M317 42H331C331.53 42 332.039 41.7893 332.414 41.4142C332.789 41.0391 333 40.5304 333 40V27.5L327.5 22H319C318.47 22 317.961 22.2107 317.586 22.5858C317.211 22.9609 317 23.4696 317 24V28"
    stroke="black"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"></path>
  <path
    d="M327 22V28H333"
    stroke="black"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"></path>
  <path
    d="M316 35H322"
    stroke="black"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"></path>
  <path
    d="M319 32V38"
    stroke="black"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"></path>
  <line x1="425" y1="64" x2="425" y2="104" stroke="#D1D5DB" stroke-width="2"
  ></line>
  <line x1="425" y1="168" x2="425" y2="208" stroke="#D1D5DB" stroke-width="2"
  ></line>
  <line x1="425" y1="272" x2="425" y2="312" stroke="#D1D5DB" stroke-width="2"
  ></line>
  <line x1="425" y1="480" x2="425" y2="520" stroke="#D1D5DB" stroke-width="2"
  ></line>
  <line x1="129" y1="480" x2="129" y2="520" stroke="#D1D5DB" stroke-width="2"
  ></line>
  <line x1="425" y1="376" x2="425" y2="416" stroke="#D1D5DB" stroke-width="2"
  ></line>
  <path
    d="M552 344H708C714.627 344 720 349.373 720 356V416"
    stroke="#D1D5DB"
    stroke-width="2"></path>
  <path
    d="M296 344H140C133.373 344 128 349.373 128 356V416"
    stroke="#D1D5DB"
    stroke-width="2"></path>
  <rect x="433" y="384" width="230" height="24" rx="12" fill="#E5E7EB"></rect>
  <text
    fill="#6B7280"
    xml:space="preserve"
    style="white-space: pre"
    font-family="Fira Mono"
    font-size="14"
    letter-spacing="0em"
    ><tspan x="443.068" y="400.676">Substantial New Arguments</tspan></text
  >
  <rect x="433" y="176" width="273" height="24" rx="12" fill="#E5E7EB"></rect>
  <text
    fill="#6B7280"
    xml:space="preserve"
    style="white-space: pre"
    font-family="Fira Mono"
    font-size="14"
    letter-spacing="0em"
    ><tspan x="443.582" y="192.676">Assignment of Shepherding Team</tspan></text
  >
</svg>
