---
const {
  class: extraClasses,
  href: externalLink,
  src: imageSource,
  alt: altText,
} = Astro.props;
---

<div
  class=`flex flex-col justify-center items-center relative h-20 bg-primary-white rounded-lg ${extraClasses}`
>
  <a href={externalLink}>
    <img
      class="block max-h-16 w-full max-w-24"
      src={imageSource}
      alt={altText}
    />
  </a>
</div>
