---
import Container from '../../layout/Container.astro';

interface Props {
  title: string;
  subTitle: string;
  currentVersion: string;
}

const { title, subTitle, currentVersion } = Astro.props;
---

<Container
  class="bg-nix-blue-600 mt-16 grid grid-cols-2 py-8 text-white md:py-6"
>
  <h1 class="font-heading self-center text-3xl leading-none font-bold">
    {title}
    <span class="hidden lg:inline">
      {subTitle}
    </span>
  </h1>
  <div class="flex flex-col justify-center self-center">
    <div class="text-end">
      <h2 class="font-heading hidden pb-2 text-2xl font-bold md:inline">
        Current version
      </h2>
      <a
        href="#"
        class="bg-nix-blue-900 rounded-2xl px-4 py-2 text-center text-2xl font-bold! text-white no-underline!"
        >{currentVersion}</a
      >
    </div>
  </div>
</Container>
