---
import Container from '@/components/layout/Container.astro';
import { cva, type VariantProps } from 'class-variance-authority';

export const sectionVariants = cva('py-8', {
  variants: {
    color: {
      darkblue: 'bg-secondary-afghani-blue-35 text-primary-white',
      blue: 'bg-secondary-afghani-blue-45 text-primary-white',
      white: 'bg-primary-white text-primary-black',
    },
  },
});

export const titleVariants = cva(
  'pb-1 pt-0.5 text-4xl font-bold font-heading',
  {
    variants: {
      color: {
        darkblue: 'text-secondary-afghani-blue-95',
        blue: 'text-secondary-afghani-blue-95',
        white: 'text-secondary-afghani-blue-45',
      },
    },
  },
);

interface Props extends VariantProps<typeof sectionVariants> {
  title?: string;
  pre?: string;
  class?: string;
}

const { title, pre, color = 'blue', class: extraClasses } = Astro.props;
---

<section class:list={['py-12', sectionVariants({ color }), extraClasses]}>
  <Container>
    {pre ?? <p>{pre}</p>}
    {title && <h1 class={titleVariants({ color })}>{title}</h1>}
    <slot />
  </Container>
</section>
