---
interface Props {
  items: string[];
}

const { items } = Astro.props;
---

<ul class="w-full px-2 text-center">
  {
    items.map((item) => (
      <li class="border-b-secondary-afghani-blue-65 border-b-2 py-1 last:border-b-0">
        {item}
      </li>
    ))
  }
</ul>
