/* The integration's default injected base.css file */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  main a:-webkit-any-link {
    @apply text-nix-blue-dark underline decoration-1 underline-offset-4;
  }

  main a:any-link {
    @apply text-nix-blue-dark underline decoration-1 underline-offset-4;
  }
}

@layer components {
  article {
    @apply leading-7;
  }

  article ol {
    @apply mb-2 ml-6 list-outside list-decimal;
  }

  article ol > li {
    @apply mb-1;
  }

  article ul {
    @apply mb-2 ml-6 list-outside list-disc;
  }

  article ul > li {
    @apply mb-1;
  }

  article ul > li > ul {
    @apply mt-1 list-outside list-circle;
  }

  article ul > li > p:first-child {
    @apply ml-0 block;
  }

  article ul > li > p {
    @apply inline-block pb-1;
  }

  article ul.inlinelist {
    @apply mb-0 ml-0 flex list-none flex-col;
  }

  article ul.inlinelist ul {
    @apply ml-0;
  }

  article ul.inlinelist li {
    @apply inline-block;
  }
  article ul.inlinelist li::after {
    content: ', ';
  }
  article ul.inlinelist li:last-child::after {
    content: '';
  }

  article b,
  article strong {
    @apply font-bold;
  }

  article h3 {
    @apply mb-4 text-2xl font-bold text-nix-blue;
  }

  article p {
    @apply pb-2;
  }

  article br {
    @apply block h-2;
  }

  article code {
    @apply rounded border-1 border-gray-300 bg-gray-100 px-1 pb-1 pt-1 font-mono font-medium text-black;
  }

  article pre {
    @apply my-2 mb-4 overflow-x-auto rounded border-1 border-[#3a3a3a] bg-[#3a3a3a] px-4 py-4;
  }

  article pre code {
    @apply w-full border-none bg-transparent p-0;
  }

  article .astro-code {
    @apply rounded-full;
  }

  article img:not(.img-noadjust) {
    @apply float-right ml-8 inline h-48 w-auto;
  }

  article blockquote {
    @apply mb-4 border-l-4 border-nix-blue-darker bg-nix-blue-extralight px-4 pt-2;
  }

  article h1,
  article h2,
  article h3,
  article h4,
  article h5,
  article h6 {
    @apply font-heading font-bold leading-tight text-nix-blue;
  }

  article h1:not(:first-child),
  article h2:not(:first-child),
  article h3:not(:first-child),
  article h4:not(:first-child),
  article h5:not(:first-child),
  article h6:not(:first-child) {
    @apply mt-4;
  }

  article h1 {
    @apply mb-2 text-4xl;
  }

  article h2 {
    @apply mb-2 text-3xl;
  }

  article h3 {
    @apply mb-2 text-2xl;
  }

  article h4 {
    @apply mb-2 text-xl;
  }
}
