/* The integration's default injected base.css file */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    main a:-webkit-any-link {
        @apply underline decoration-1 underline-offset-2 text-nixsemidarkblue;
    }
    main a:any-link {
        @apply underline decoration-1 underline-offset-2 text-nixsemidarkblue;
    }

    article ul {
        @apply list-circle list-inside;
    }

    article ul > li > ul {
        @apply list-disc list-inside ml-4;
    }
    article ul.inlinelist {
        @apply list-none flex flex-col ml-6;
    }
    article ul.inlinelist li {
        @apply inline-block;
    }
    article ul.inlinelist li::after {
        content: ", ";
    }
    article ul.inlinelist li:last-child::after {
        content: "";
    }
}

@layer components {
    @keyframes rfc-box-0 {
        0% {
            @apply border-gray-300 bg-gray-100;
        }
        15% {
            @apply border-nixgreen bg-green-100;
        }
        90% {
            @apply border-nixgreen bg-green-100;
        }
    }
    @keyframes rfc-box-1 {
        0% {
            @apply border-gray-300 bg-gray-100;
        }
        15% {
            @apply border-gray-300 bg-gray-100;
        }
        30% {
            @apply border-nixgreen bg-green-100;
        }
        90% {
            @apply border-nixgreen bg-green-100;
        }
    }
    @keyframes rfc-box-2 {
        0% {
            @apply border-gray-300 bg-gray-100;
        }
        30% {
            @apply border-gray-300 bg-gray-100;
        }
        45% {
            @apply border-nixgreen bg-green-100;
        }
        90% {
            @apply border-nixgreen bg-green-100;
        }
    }
    @keyframes rfc-box-3 {
        0% {
            @apply border-gray-300 bg-gray-100;
        }
        45% {
            @apply border-gray-300 bg-gray-100;
        }
        60% {
            @apply border-nixgreen bg-green-100;
        }
        90% {
            @apply border-nixgreen bg-green-100;
        }
    }
    @keyframes rfc-box-4 {
        0% {
            @apply border-gray-300 bg-gray-100;
        }
        60% {
            @apply border-gray-300 bg-gray-100;
        }
        75% {
            @apply border-nixgreen bg-green-100;
        }
        90% {
            @apply border-nixgreen bg-green-100;
        }
    }
    @keyframes rfc-box-x {
        0% {
            @apply opacity-100;
        }
        60% {
            @apply opacity-100;
        }
        75% {
            @apply opacity-75;
        }
        90% {
            @apply opacity-75;
        }
    }

    .is-in-viewport .rfc-box-0 {
        animation: 10s linear infinite rfc-box-0;
    }
    .is-in-viewport .rfc-box-1 {
        animation: 10s linear infinite rfc-box-1;
    }
    .is-in-viewport .rfc-box-2 {
        animation: 10s linear infinite rfc-box-2;
    }
    .is-in-viewport .rfc-box-3 {
        animation: 10s linear infinite rfc-box-3;
    }
    .is-in-viewport .rfc-box-4 {
        animation: 10s linear infinite rfc-box-4;
    }
    .is-in-viewport .rfc-box-x {
        animation: 10s linear infinite rfc-box-x;
    }
}
