---
import { Image } from 'astro:assets';
import globe from 'src/assets/image/why-nix/globe.svg';
import lineofpeople from 'src/assets/image/why-nix/line-of-people.svg';
---

<div class="relative grid gap-8 md:grid-cols-2">
    <p class="text-lg leading-relaxed">
        While many projects would just talk about the technical aspects of Nix,
        we want to put our community efforts front and center. This is the part <b
        >
            you
        </b> will be working with most of the time. The Nix community is a diverse
        group of people from all over the world, with different backgrounds, experiences,
        and perspectives. We are united by our passion for declarativity and reproducability
        and our desire to make it better for everyone. We are a welcoming and inclusive
        community, and we encourage you to get involved!
    </p>
    <Image
        src={globe}
        alt="A globe with a nix logo in the center"
        class="object-cover object-bottom"
    />
    <Image
        src={lineofpeople}
        alt="A line of people with different skin tones and hair colors"
        class="absolute bottom-0 object-cover object-bottom"
    />
</div>
