---

---

<p class="text-lg leading-relaxed">
  When getting in touch with Nix for the first time, many people have many
  questions and that is for good reason. Nix is a powerful tool that can be used
  in many different ways. But with power comes complexity. Let's explore some of
  the most common questions and concerns that people have when they first
  encounter Nix.
</p>
