---

---

<div class="grid grid-cols-2">
  <p class="text-lg leading-relaxed">
    While many projects would start explaining what they are, we want to first
    of all introduce the part of nix <b>you</b> will be working with: the Nix community.
    The Nix community is a diverse group of people from all over the world, with
    different backgrounds, experiences, and perspectives. We are united by our passion
    for declarativity and reproducability and our desire to make it better for everyone.
    We are a welcoming and inclusive community, and we encourage you to get involved!
  </p>
  <span> This could be a nice spot for a community photo </span>
</div>
