---

---

<div class="grid grid-cols-3">
  <div>
    <h3 class="font-heading text-2xl font-bold">... My Codebase?</h3>
    <p>...</p>
  </div>
  <div>
    <h3 class="font-heading text-2xl font-bold">... My Operating System?</h3>
    <p>...</p>
  </div>
  <div>
    <h3 class="font-heading text-2xl font-bold">... My Hardware?</h3>
    <p>...</p>
  </div>
</div>
