---

---

<div class="grid grid-cols-2 gap-4 py-16">
  <div></div>
  <div class="flex flex-col items-start justify-center gap-2">
    <p class="text-nix-blue font-heading -mb-1 text-5xl font-black">Help!</p>
    <p class="text-nix-blue-darker text-xl font-black">
      Someone told me about this Nix thing and now I have even more questions
      than before!
    </p>
    <p class="text-lg leading-relaxed">
      Don't worry, you are not alone. Many people have the same questions when
      they first encounter Nix. This page is here to help you get started and to
      answer some of the most common questions that people have when they first
      encounter Nix.
    </p>
  </div>
</div>
