---

---

<div class="grid grid-cols-2 gap-4">
  <div>
    <span class="text-nix-blue-darker block rounded-t-xl bg-white px-2 py-1">
      <b>Containers</b> like
    </span>
    <h3
      class="bg-nix-blue-darker font-heading block px-2 py-1 text-2xl font-bold"
    >
      Docker, Dev/Container…
    </h3>
    <p>...</p>
  </div>
  <div>
    <span class="text-nix-blue-darker block rounded-t-xl bg-white px-2 py-1">
      <b>Languages</b> like
    </span>
    <h3
      class="bg-nix-blue-darker font-heading block px-2 py-1 text-2xl font-bold"
    >
      YAML/JSON, HCL, CUE…
    </h3>
    <p>...</p>
  </div>
  <div>
    <span class="text-nix-blue-darker block rounded-t-xl bg-white px-2 py-1">
      <b>Build-Software</b> like...
    </span>
    <h3
      class="bg-nix-blue-darker font-heading block px-2 py-1 text-2xl font-bold"
    >
      Bazel, Buck…
    </h3>
    <p>...</p>
  </div>
  <div>
    <span class="text-nix-blue-darker block rounded-t-xl bg-white px-2 py-1">
      <b>Package Managers</b> like
    </span>
    <h3
      class="bg-nix-blue-darker font-heading block px-2 py-1 text-2xl font-bold"
    >
      GPF, homebrew, pacman, choco/rate…
    </h3>
    <p>...</p>
  </div>
</div>
