---

---

<p class="mb-4">
  If you are already familiar with modern build and infrasctructure tools, the
  following table highlights how Nix's declarative and functional approach
  aligns with concepts you may already know, while also showcasing the unique
  benefits that Nix brings to the table.
</p>

<table class="table-auto">
  <thead class="font-blold border-b-secondary-afghani-blue-45 border-b-2">
    <tr>
      <th class="p-2"> Category </th>
      <th class="p-2"> Examples </th>
      <th class="w-max p-2"> Traditional Approach </th>
      <th class="w-max p-2"> Nix Approach </th>
      <th class="p-2"> Benefits </th>
    </tr>
  </thead>
  <tbody class="bg-secondary-afghani-blue-95">
    <tr>
      <td
        class="bg-secondary-afghani-blue-45 text-primary-white w-max p-2 font-bold"
      >
        OCI-Containers
      </td>
      <td class="text-secondary-afghani-blue-25 max-w-min p-2 font-bold">
        <ul>
          <li>Docker</li>
          <li>Podman</li>
          <li>Buildah</li>
        </ul>
      </td>
      <td class="bg-accent-norwegian-pink-95 p-2">
        Specify build steps to reach the desired state
      </td>
      <td class="bg-accent-zambian-green-95 p-2">
        Declare the desired state as a evaluatable expression
      </td>
      <td>
        <ul class="list-inside list-disc">
          <li>Predictability</li>
          <li>Reproducibility</li>
          <li>Auditability</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td
        class="bg-secondary-afghani-blue-45 text-primary-white w-max p-2 font-bold"
      >
        Languages
      </td>
      <td class="text-secondary-afghani-blue-25 max-w-min p-2 font-bold">
        <ul>
          <li>YAML/JSON</li>
          <li>HCL</li>
          <li>CUE</li>
        </ul>
      </td>
      <td class="bg-accent-norwegian-pink-95 p-2">
        Descriptive but often limited in abstraction
      </td>
      <td class="bg-accent-zambian-green-95 p-2">
        Use functional programming for powerful abstractions
      </td>
      <td class="min-w-max">
        <ul class="list-inside list-disc">
          <li>Composability</li>
          <li>Reusability</li>
          <li>Maintainability</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td
        class="bg-secondary-afghani-blue-45 text-primary-white w-max p-2 font-bold"
      >
        Build-Software
      </td>
      <td class="text-secondary-afghani-blue-25 max-w-min p-2 font-bold">
        <ul>
          <li>Bazel</li>
          <li>Buck</li>
        </ul>
      </td>
      <td class="bg-accent-norwegian-pink-95 p-2">
        Focus on the build process, often limited to specific ecosystems
      </td>
      <td class="bg-accent-zambian-green-95 p-2">
        Manage entire software environment including dependencies across
        ecosystems
      </td>
      <td class="min-w-max">
        <ul class="list-inside list-disc">
          <li>Reproducibility</li>
          <li>Flexibility</li>
          <li>Integration</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td
        class="bg-secondary-afghani-blue-45 text-primary-white w-max p-2 font-bold"
      >
        Package Managers
      </td>
      <td class="text-secondary-afghani-blue-25 max-w-min p-2 font-bold">
        <ul>
          <li>homebrew</li>
          <li>apt/rpm</li>
          <li>choco/winget</li>
        </ul>
      </td>
      <td class="bg-accent-norwegian-pink-95 p-2">
        Install and manage software packages imperatively
      </td>
      <td class="bg-accent-zambian-green-95 p-2">
        Declaratively define the desired system state in a functional
        programming expression
      </td>
      <td class="min-w-max">
        <ul class="list-inside list-disc">
          <li>Atomic upgrades</li>
          <li>Rollbacks</li>
          <li>Consistency</li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>

<p class="mt-4">
  It is important to note that while this table positions Nix as an alternative
  to these tools, Nix can also complement and integrate with them, enhancing
  their capabilities through its unique approach to package and environment
  management. The strength of Nix lies in its ability to provide a consistent
  and reliable foundation, regardless of the specific tools or ecosystems in
  use.
</p>
