---

---

<div class="grid grid-cols-3 gap-4">
  <div>
    <h3 class="font-heading text-2xl font-bold">Talent pool</h3>
    <p>
      Due to its steep learning curve and niche popularity in comparison to
      other package managers, finding experienced Nix users may be more
      challenging. However, the Nix community is active and growing, with many
      resources available for learning and support. Investing in training and
      development can help build a skilled team over time.
    </p>
  </div>
  <div>
    <h3 class="font-heading text-2xl font-bold">Supply chain security</h3>
    <p></p>
  </div>
  <div>
    <h3 class="font-heading text-2xl font-bold">Packaging overhead</h3>
    <p>
      Creating and maintaining Nix expressions for packages can require
      additional effort. Projects with many different dependencies, multiple
      build tools or build processes that require an active internet connection
      may require significant initial setup and ongoing maintenance.
    </p>
  </div>
</div>
