---
import Button from '@/components/ui/Button.astro';
---

<div class="grid md:grid-cols-2">
  <div>
    <p class="pb-6 text-lg leading-relaxed">
      You may have further questions or want to discuss your specific use case.
      Our foundation representatives are here to help.
    </p>
    <Button
      color="white"
      size="lg"
      icon="mdi:telephone"
      classList={['inline-flex']}
      href="mailto:foundation@nixos.org"
    >
      Talk to a Representative
    </Button>
  </div>
</div>
