---
import bg0 from '@/assets/image/decisionmakers/bg0.svg';
import { Image } from 'astro:assets';
---

<div class="grid gap-8 py-8 md:grid-cols-2">
  <Image src={bg0} class="h-48 object-contain md:h-96" alt="" />
  <div class="flex flex-col items-start justify-center gap-2">
    <p
      class="text-secondary-afghani-blue-45 font-heading -mb-1 text-5xl font-black"
    >
      Curious about Nix?
    </p>
    <p class="text-secondary-afghani-blue text-2xl font-black">
      Someone told you about this Nix thing and now you have even more questions
      than before?
    </p>
    <p class="text-xl leading-relaxed">
      Don' t worry, you are not alone. Many people have the same questions when
      they first encounter Nix. This page is here to help you get started and to
      answer some of the most common questions that people have when they first
      encounter Nix.
    </p>
  </div>
</div>
