---

---

<div class="grid grid-cols-3 gap-4">
  <div>
    <h3 class="font-heading text-2xl font-bold">Talent pool</h3>
    <p></p>
  </div>
  <div>
    <h3 class="font-heading text-2xl font-bold">Supply chain security</h3>
    <p></p>
  </div>
  <div>
    <h3 class="font-heading text-2xl font-bold">Packaging overhead</h3>
    <p></p>
  </div>
</div>
