---

---

<p class="mb-2 text-lg leading-relaxed">
  When getting in touch with Nix for the first time, many people have many
  questions and that is for good reason. <b
    >Nix is a powerful tool that can be used in many different ways.</b
  >
</p>

<p class="mb-2 text-lg leading-relaxed">
  Nix is a project that encompasses a variety of tools and concepts aimed at <b
    >improving software development, deployment, and system management</b
  >. At its core, <b>Nix is a package manager</b> that uses a unique approach to handle
  software packages and their dependencies. It is built around the <b
    >Nix language</b
  >, a functional programming language designed for describing package builds
  and system configurations.
</p>

<p class="text-lg leading-relaxed">
  <b>In general we will refer to Nix as the whole ecosystem on this page.</b> This
  covers the Nix language, the Nix package manager, NixOS as an operating system built
  around Nix and other tools using Nix.
</p>
