<div class="grid grid-cols-3 gap-4 pt-3">
  <div>
    <h3 class="font-heading text-nix-blue-dark text-2xl font-bold">
      Long-term savings
    </h3>
    <p></p>
  </div>
  <div>
    <h3 class="font-heading text-nix-blue-dark text-2xl font-bold">
      Job security
    </h3>
    <p></p>
  </div>
  <div>
    <h3 class="font-heading text-nix-blue-dark text-2xl font-bold">
      Availability
    </h3>
    <p></p>
  </div>
  <div>
    <h3 class="font-heading text-nix-blue-dark text-2xl font-bold">
      Uniformity
    </h3>
    <p></p>
  </div>
  <div>
    <h3 class="font-heading text-nix-blue-dark text-2xl font-bold">Control</h3>
    <p></p>
  </div>
  <div>
    <h3 class="font-heading text-nix-blue-dark text-2xl font-bold">
      Customisation
    </h3>
    <p></p>
  </div>
  <div>
    <h3 class="font-heading text-nix-blue-dark text-2xl font-bold">
      Auditability
    </h3>
    <p></p>
  </div>
</div>
