---

---

<span>
  Nix as a tool is free and open source software, but there are costs associated
  with using it. These costs can be divided into two categories:
</span>
<div class="grid grid-cols-2 gap-4 pt-3">
  <div>
    <h3 class="font-heading text-2xl font-bold">Training</h3>
    <p>
      Being a functional language with a large standard library and serving many
      usecases, Nix can be overwhealming, especially for beginners. This may
      slow down the adoptoin process and require additional training for team
      members. However, once the initial learning curve is overcome, the
      benefits of using Nix often outweigh the initial investment in training.
    </p>
  </div>
  <div>
    <h3 class="font-heading text-2xl font-bold">Storage/CI time</h3>
    <p>
      Nix stores all its dependencies and outputs in (so called derivations) in
      the nix-store. This may grow over time when not garbage-collected regulary
      and may increase storage needs.
    </p>
    <p>
      In addition, every nix derivation has to load all of its dependencies
      before starting the build process, this may increase CI runtimes in
      comparison to using prebuilt OCI images or the CI servers global packages.
    </p>
  </div>
</div>
