---
interface Props {
  text?: string;
  subtext?: string;
  parentPath?: string;
}

const { text = '', subtext, parentPath = undefined }: Props = Astro.props;

import Container from './Container.astro';
---

<div
  class="hidden bg-cover bg-bottom bg-no-repeat py-24 inline-svg-header-nixdarkblue md:block"
>
  <Container class="grid grid-cols-3 text-white">
    <div class="col-span-2 flex flex-col gap-4">
      {
        parentPath && (
          <a
            href={parentPath}
            class="invisible -mb-4 -mt-6 text-white! md:visible"
          >
            <span class="text-nixblue">←</span> Back
          </a>
        )
      }
      <h1 class="text-left font-heading text-4xl font-bold">
        {text}
      </h1>
      {subtext && <p class="text text-left">{subtext}</p>}
    </div>
  </Container>
</div>

<div class="bg-nix-blue text-white md:hidden">
  <Container class="px-12 py-16">
    <h1 class="text-center text-3xl font-bold">
      {text}
    </h1>
  </Container>
</div>
