---
import Card from '@/components/ui/Card.astro';

const {
  class: extraClasses,
  href: externalLink,
  src: imageSource,
  alt: altText,
} = Astro.props;
---

<Card
  class=`flex min-h-24 xl:min-h-20 flex-col justify-center bg-white ${extraClasses}`
>
  <a href={externalLink}>
    <img class="h-full w-full" src={imageSource} alt={altText} />
  </a>
</Card>
