[% WRAPPER layout.tt title="Contributing" id='$Id$' menu='developers' %]

<h2>Contributing to the Nix project</h2>

docs

repositories

mailing list

irc channel

issue tracker

continuous builds

[% END %]
