---
import Container from '../components/layout/Container.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Not Found">
  <Container>
    <h1
      class="font-heading text-secondary-afghani-blue mt-10 mb-4 text-4xl leading-none font-extrabold"
    >
      Not found
    </h1>
    <p>
      The requested content<span id="signpost"></span> could not be found.
    </p>
    <script is:inline>
      document.getElementById('signpost').innerHTML =
        ` at <code>${window.location.pathname}</code>`;
    </script>
  </Container>
</Layout>
