---
import Container from '../components/layout/Container.astro';
import PageHeader from '../components/layout/PageHeader.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Devices">
  <PageHeader text="Devices" />
  <Container class="mt-16 space-y-4 leading-relaxed font-extralight">
    <p>
      Like any distro, NixOS can run on a wide variety of devices. Due to the
      unique nature of many devices (e.g. Arm & RISC-V), the NixOS Hardware team
      has gone through and certified hardware which may be difficult to run
      Linux on. This page serves as a reference for users to find out how well
      their hardware may be supported.
    </p>
  </Container>
  <Container>
    <h2 class="font-heading text-nix-blue mt-8 text-4xl leading-none font-bold">
      Ships with NixOS
    </h2>
    <p class="text-gray-700">
      These devices ship with NixOS, this means you get full NixOS support and
      don't need an installer image to begin using NixOS.
    </p>
    <ul class="m-4 flex flex-row flex-wrap gap-4">
      <li>None at this time</li>
    </ul>
  </Container>
  <Container>
    <h2 class="font-heading text-nix-blue mt-8 text-4xl leading-none font-bold">
      Official Support
    </h2>
    <p class="text-gray-700">
      These devices have been tested by members of the hardware team and are
      known to work.
    </p>
    <ul class="m-4 flex flex-row flex-wrap gap-4">
      <li>
        <a href="https://github.com/NixOS/nixos-hardware/tree/master/framework"
          >Framework</a
        >
      </li>
      <li>
        <a
          href="https://github.com/NixOS/nixos-hardware/tree/master/fydetab/duo"
          >Fydetab Duo</a
        >
      </li>
      <li>
        <a
          href="https://github.com/NixOS/nixos-hardware/tree/master/system76/thelio-mega"
          >System76 Thelio Mega</a
        >
      </li>
    </ul>
  </Container>
  <Container>
    <h2 class="font-heading text-nix-blue mt-8 text-4xl leading-none font-bold">
      Community Support
    </h2>
    <p class="text-gray-700">
      These are popular devices which have been tested by members of the
      community.
    </p>
    <ul class="m-4 flex flex-row flex-wrap gap-4">
      <li>
        <a href="https://github.com/nix-community/nixos-apple-silicon"
          >Apple Silicon (M1, M2, etc.)</a
        >
      </li>
    </ul>
  </Container>
</Layout>
