---
import { Icon } from 'astro-icon/components';
import { getCollection } from 'astro:content';
import Container from '../components/layout/Container.astro';
import PageHeader from '../components/layout/PageHeader.astro';
import Layout from '../layouts/Layout.astro';

const devices = await getCollection('devices');
---

<Layout title="Devices">
  <PageHeader text="Devices" />
  <Container class="mt-16 space-y-4 leading-relaxed font-extralight">
    <p>
      Like any distro, NixOS can run on a wide variety of devices. Due to the
      unique nature of many devices (e.g. Arm & RISC-V), the NixOS Hardware team
      has gone through and certified hardware which may be difficult to run
      Linux on. This page serves as a reference for users to find out how well
      their hardware may be supported.
    </p>
  </Container>
  {
    devices.map((category) => (
      <Container>
        <h2 class="font-heading text-nix-blue mt-8 mb-1 text-4xl leading-none font-bold">
          {category.data.title}
        </h2>
        <p class="text-gray-700">{category.data.description}</p>
        {(!category.data.devices || category.data.devices === 0) && (
          <p class="mt-4 h-full list-none rounded-xl bg-gray-100 px-4 py-3">
            No devices listed yet.
          </p>
        )}
        {category.data.devices && (
          <ul class="mt-4 grid list-inside list-disc gap-4 space-y-2 md:grid-cols-3">
            {category.data.devices.map((device) => (
              <li class="bg-nix-blue-extralight h-full list-none rounded-xl px-4 py-3">
                <h3 class="font-heading text-nix-blue text-3xl font-bold">
                  {device.name}
                </h3>
                {device.hwrepo && (
                  <a href={device.hwrepo} class="text-nix-blue hover:underline">
                    <Icon name="mdi:git" class="inline h-5 w-5" />
                    Hardware Repository
                  </a>
                )}
              </li>
            ))}
          </ul>
        )}
      </Container>
    ))
  }
</Layout>
