---
import { getEntry } from 'astro:content';

import Container from '../components/layout/Container.astro';
import PageHeader from '../components/layout/PageHeader.astro';
import SponsorLogo from '../components/layout/SponsorLogo.astro';
import Button from '../components/ui/Button.astro';
import Layout from '../layouts/Layout.astro';

import Divider from '../components/layout/Divider.astro';
import InlineSVG from '../components/util/InlineSVG.astro';

const sponsors = await getEntry('sponsors', 'info');
---

<Layout title="Donate">
  <PageHeader text="Donate" />
  <Container class="grid gap-8 px-12 py-16 md:grid-cols-2">
    <div class="flex flex-col gap-4">
      <h2 class="font-heading text-secondary-afghani-blue text-3xl font-bold">
        Donate using Open Collective
      </h2>
      <p class="font-extralight">
        NixOS Foundation is using
        <a href="https://opencollective.com/">Open Collective</a>
        to manage the finances so everyone can see where money comes from and where
        money goes.
      </p>
      <p class="text-light-bold leading-relaxed font-extralight">
        With Open Collective you can make a <strong>single</strong> or <strong
          >recurring</strong
        > contribution by credit card transfer.
      </p>
      <p class="leading-relaxed font-extralight">Thank you!</p>
      <div class="flex flex-col justify-stretch gap-4 md:flex-row">
        <Button
          color="semidarkblue"
          size="sm"
          href="https://opencollective.com/nixos#support"
        >
          Donate using Open Collective
        </Button>
      </div>
    </div>
    <div class="flex flex-col justify-center gap-4">
      <h2 class="font-heading text-secondary-afghani-blue text-3xl font-bold">
        Donate with SEPA bank transfer
      </h2>
      <p class="font-extralight">
        The NixOS Foundation also accepts donations via SEPA bank transfer.
        Please send payments to:
      </p>
      <pre
        class="bg-secondary-afghani-blue-95 text-nix-blue-darker rounded-3xl p-8 font-mono font-bold whitespace-pre-line">
Stichting NixOS Foundation, Utrecht, The Netherlands

IBAN: NL13 BUNQ 2061 2530 32
BIC:  BUNQNL2AXXX</pre>
      <p class="text-primary-black-45 text-xs leading-relaxed font-extralight">
        Please add your name and purpose (donation) in the description of the
        transfer.
        <i>
          If you would like to support us with amounts above 2000 euro per year,
          please contact us at
          <a href="mailto:foundation@nixos.org">foundation@nixos.org</a>
          , as this will have tax implications.
        </i>
      </p>
    </div>
  </Container>
  <Divider style="slope" mirrorX mirrorY />
  <div
    class="bg-secondary-afghani-blue-45 text-primary-white py-16 md:px-12 md:py-16"
  >
    <Container class="grid gap-8 md:grid-cols-2 md:px-12">
      <div class="flex flex-col gap-4">
        <img src="/images/donate/merch.svg" class="h-64 md:h-full" />
      </div>
      <div class="flex flex-col justify-center gap-4">
        <h1 class="font-heading max-w-96 text-4xl leading-tight font-bold">
          NixOS T-shirts, mugs and more...
        </h1>
        <p class="font-extralight">
          Donate to NixOS foundation by purchasing NixOS merchandise.
        </p>
        <div class="flex flex-col justify-stretch gap-4 md:flex-row">
          <Button
            color="white-borders"
            size="sm"
            href="https://www.redbubble.com/people/mogorman/shop"
          >
            Go to the shop (RedBubble)
          </Button>
        </div>
      </div>
    </Container>
  </div>
  <Divider style="slope" mirrorX />
  <Container class="grid px-12 pt-16">
    <p class="text-primary-black-55 text-xl font-bold">
      The NixOS infrastructure, development and events are funded by its users
      and sponsors.
    </p>
  </Container>
  <Container class="grid gap-8 px-12 pt-8 pb-20 md:grid-cols-2">
    <div
      class="flex flex-col justify-center gap-4 leading-relaxed font-extralight"
    >
      <p>
        Maintaining our build farm and binary cache is very expensive. We depend
        on your support to ensure the continuous operation and expansion of the
        NixOS infrastructure.
      </p>
      <p>
        Please consider donating a small amount every month to contribute to
        sustainable funding. Donations are handled by a nonprofit organization,
        the <a href="/community#foundation">NixOS Foundation</a>.
      </p>
    </div>
    <div class="flex flex-col items-center justify-center">
      <InlineSVG
        src="/src/assets/image/nixos-foundation-logo.svg"
        class="max-h-96"
      />
    </div>
  </Container>
  <Divider style="slope" mirrorY />
  <div class="bg-secondary-afghani-blue-45 text-primary-white py-16">
    <Container class="grid gap-8 px-12 md:grid-cols-2">
      <div class="flex flex-col justify-center">
        <div
          class="grid grid-cols-2 gap-4 sm:grid-cols-3 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4"
        >
          {
            sponsors.data.items.map((item) => (
              <SponsorLogo
                class={item.class}
                href={item.href}
                src={item.src}
                alt={item.alt}
              />
            ))
          }
        </div>
      </div>
      <div class="flex flex-col justify-center gap-4">
        <h2 class="font-heading text-3xl font-bold sm:pb-2 sm:text-4xl">
          Acknowledgements
        </h2>
        <p class="font-extralight">
          The Nix package manager was developed by
          <a href="https://edolstra.github.io/" class="text-primary-white!"
            >Eelco Dolstra</a
          >
          as part of his PhD research in the
          <a
            href="https://www.nwo.nl/en/projects/638001201"
            class="text-primary-white!">TraCE project</a
          >, funded by the
          <a href="http://www.jacquard.nl/" class="text-primary-white!"
            >Jacquard programme</a
          >
          of the
          <a href="http://www.nwo.nl/" class="text-primary-white!"
            >Netherlands Organisation for Scientific Research</a
          >
          (NWO) and SERC. The first prototype of NixOS was developed by
          <a href="http://www.tjaldur.nl/" class="text-primary-white!"
            >Armijn Hemel</a
          >
          as his master’s thesis project. Hydra, the Nix-based continuous build system,
          was developed as part of the LaQuSo Buildfarm project, funded by
          <a href="https://www.4tu.nl/nirict/" class="text-primary-white!"
            >NIRICT</a
          >
          and
          <a href="http://www.laquso.com/" class="text-primary-white!">LaQuSo</a
          >.
        </p>
        <p class="font-light">
          The following companies and institutes have supported the development
          of NixOS and hosting for its infrastructure. We are very grateful for
          that! If you would like to support us as well, please contact
          <a href="mailto:foundation@nixos.org" class="text-primary-white!"
            >The NixOS Foundation</a
          >.
        </p>
      </div>
    </Container>
  </div>
</Layout>
