---
import Container from '@/components/layout/Container.astro';
import Asciinema from '@/components/ui/Asciinema.astro';
import PageHeader from '../components/layout/PageHeader.astro';
import Paragraph from '../components/ui/typography/Paragraph.astro';

import Segment from '@/components/layout/Segment.astro';
import { getEntry } from 'astro:content';
import Layout from '../layouts/Layout.astro';

const demos = await getEntry('landing', 'demos');
---

<Layout title="Examples">
  <PageHeader text="Examples" />
  <Segment variant="white" yPadding container>
    <Paragraph size="lg">
      Want to see Nix in action? Below you can find some Asciinema recordings of
      several examples that show the power and flexibility of NixOS.
    </Paragraph>
  </Segment>
  <Segment variant="white">
    <Container>
      <div class="grid items-center gap-4 pb-8 md:grid-cols-2">
        {
          demos.data.map((demo) => {
            return (
              <div class="flex flex-col items-start gap-2 overflow-hidden">
                <Asciinema
                  title={demo.title}
                  class="w-full self-center md:self-start"
                  src={demo.file}
                  settings={{
                    poster: 'npt:0:00:30',
                  }}
                />
              </div>
            );
          })
        }
      </div>
    </Container>
  </Segment>
</Layout>
