---
import Layout from '@/layouts/Layout.astro';
import Container from '@/components/layout/Container.astro';
---

<Layout title="Not Found">
  <Container>
    <h1
      class="mb-4 mt-10 font-heading text-4xl font-extrabold leading-none text-nix-blue"
    >
      Not found
    </h1>

    <p class="font-light">
      The requested content<span id="signpost"></span> could not be found.
    </p>

    <script is:inline>
      document.getElementById('signpost').innerHTML =
        ` at <code>${window.location.pathname}</code>`;
    </script>
  </Container>
</Layout>
