---
import { getCollection, getEntry } from 'astro:content';

import Container from '@/components/layout/Container.astro';
import PageHeader from '@/components/layout/PageHeader.astro';
import BlogList from '@/components/pages/blog/BlogList.astro';
import BlogListEntry from '@/components/pages/blog/BlogListEntry.astro';
import BlogMenuItem from '@/components/pages/blog/BlogMenuItem.astro';
import Layout from '@/layouts/Layout.astro';

const posts = await getCollection('blog');
posts
  .sort((a, b) => {
    const dateA = new Date(a.data.date);
    const dateB = new Date(b.data.date);
    return dateA > dateB ? -1 : 1;
  })
  .reverse();
const blogMenu = await getEntry('menus', 'blog');
---

<Layout title="Blog">
  <PageHeader text="Blog" />

  <Container class="py-8">
    <p class="mb-2 text-center text-2xl text-nix-blue">
      Click boxes to filter content
    </p>

    <div
      role="group"
      class="flex flex-col justify-center pb-8 md:flex-row md:items-center md:gap-4"
    >
      {blogMenu.data.map((menuItem) => <BlogMenuItem menuItem={menuItem} />)}
    </div>

    <BlogList />

    {
      posts.reverse().map(async (post) => {
        return <BlogListEntry post={post} />;
      })
    }
  </Container>
</Layout>

<script>
  const articles = document.querySelectorAll('article');
  let categories = [];

  function refreshCategories() {
    let categoryCheckboxes = Array.prototype.slice.call(
      document.getElementsByName('category'),
    );
    categories = categoryCheckboxes.map((checkbox) => {
      return checkbox.checked ? checkbox.value : null;
    });
  }

  function refreshArticles() {
    articles.forEach((article) => {
      const isInQuery = categories.includes(article.dataset.category);
      article.ariaHidden = !isInQuery ? 'true' : 'false';
      if (!isInQuery) article.classList.add('hidden');
      else article.classList.remove('hidden');
    });
  }

  document.getElementsByName('category').forEach((checkbox) => {
    checkbox.addEventListener('change', (e) => {
      // const id = e.target.value;
      refreshCategories();
      refreshArticles();
    });
  });

  refreshCategories();
  refreshArticles();
</script>
