---
import { getCollection, getEntry } from 'astro:content';

import Container from '@/components/layout/Container.astro';
import PageHeader from '@/components/layout/PageHeader.astro';
import Foundation from '@/components/pages/community/Foundation.astro';
import Meetups from '@/components/pages/community/Meetups.astro';
import NixCon from '@/components/pages/community/NixCon.astro';
import RFCProcess from '@/components/pages/community/RFCProcess.astro';
import Teams from '@/components/pages/community/Teams.astro';
import WhereToTalk from '@/components/pages/community/WhereToTalk.astro';
import Banner from '@/components/ui/Banner.astro';
import Link from '@/components/util/Link.astro';
import Layout from '@/layouts/Layout.astro';

const meetups = await getEntry('community', 'meetups');
const teams = await getCollection('teams');
---

<Layout title="Community">
  <PageHeader text="Community" />

  <Container class="mt-16 space-y-4 leading-relaxed">
    <p class="text-xl font-bold text-gray-700">
      Nix and NixOS are developed and used by a diverse and welcoming community
      from all around the world.
    </p>
    <p>
      The NixOS Foundation aims to promote participation without regard to
      gender, sexual orientation, disability, ethnicity, age, or similar
      personal characteristics.
    </p>
    <p>
      We want to strive to create and foster community by providing an
      intentionally welcoming and safe environment where all feel valued and
      cared for, and where all are given opportunity to participate
      meaningfully. The Foundation will work with the community in service of
      this goal.
    </p>
    <p>
      Instances of abusive, harassing, or otherwise unacceptable behavior may be
      reported by contacting the project team at <Link
        href="mailto:community@nixos.org">community@nixos.org</Link
      >. The project team is obligated to maintain confidentiality with regard
      to the reporter of an incident.
    </p>
  </Container>

  <WhereToTalk />

  <Banner wrapperClasses="my-8">
    If you are looking for professional help, <Link
      href="/community/commercial-support">check out companies</Link
    > that offer Nix related services.
  </Banner>

  <NixCon />

  <Meetups meetups={meetups} />

  <RFCProcess />

  <Teams teams={teams} />

  <Foundation teams={teams} />
</Layout>
