---

import Layout from '../layouts/Layout.astro';
import Container from "../components/layout/Container.astro";
import ExternalLogo from "../components/layout/ExternalLogo.astro";

---

<Layout title="Donate">
  <div class="flex flex-col">

    <Container class="grid py-16">
      <h1 class="text-6xl font-heading font-bold leading-none">
        Donate
      </h1>
    </Container>

    <Container class="grid">
      <p class="text-xl font-bold text-gray-500">
        The NixOS infrastructure, development and events are funded by its users and sponsors.
      </p>
    </Container>

    <Container class="grid md:grid-cols-2 gap-8 px-12 py-16">
      <div class="flex flex-col justify-center gap-4">
        <p class="font-light">
          Maintaining our build farm and binary cache is very expensive.
          We depend on your support to ensure the continuous operation and expansion of the NixOS infrastructure.
        </p>
        <p class="font-light">
          Please consider donating a small amount every month to contribute to sustainable funding.
          Donations are handled by a nonprofit organization, the <a href="/governance.html#foundation">NixOS Foundation</a>.
        </p>
      </div>
      <div class="flex flex-col gap-4">
        <img src="/images/logos/nixos_flake.svg" class="h-40" />
        <p class="text-center font-nixos font-regular text-8xl">
          NixOS
        </p>
        <p class="text-center font-nixos font-light text-7xl">
          Foundation
        </p>
      </div>
    </Container>

    <img src="/divider/slope_down.svg" class="w-full object-fill object-[60%_top] h-16 -scale-y-100" />
    <div class="bg-nixdarkblue py-16 px-12 text-white">
      <Container class="grid md:grid-cols-2 gap-8 px-12">
        <div class="flex flex-col gap-4">
          <img src="/images/donate/merch.svg" class="h-[28rem]" />
        </div>
        <div class="flex flex-col justify-center gap-4">
          <h1 class="text-4xl font-bold pb-2">
            NixOS T-shirts, mugs and more...
          </h1>
          <p class="font-light">
            Donate to NixOS foundation by purchasing NixOS merchandise.
          </p>
          <button type="button">
            <a href="https://www.redbubble.com/people/mogorman/shop">
              Go to the shop (RedBubble)
            </a>
          </button>
        </div>
      </Container>
    </div>
    <img src="/divider/slope_down.svg" class="w-full object-fill object-[60%_top] h-16" />

    <Container class="grid md:grid-cols-2 gap-8 py-16 px-12">
      <div class="flex flex-col gap-4">
        <h2 class="text-4xl font-bold text-nixdarkblue pb-2">
          Donate using Open Collective
        </h2>
        <p class="font-light">
          NixOS Foundation is using
          <a href="https://opencollective.com/">Open Collective</a>
          to manage the finances so everyone can see where money comes from and where money goes.
        </p>
        <p class="font-light">
          With Open Collective you can make a <strong>single</strong> or <strong>recurring</strong> contribution by credit card transfer.
        </p>
        <p class="font-light">
          Thank you!
        </p>
        <button type="button">
          <a href="https://opencollective.com/nixos#support">
            Contribute
          </a>
        </button>
      </div>
      <div class="flex flex-col gap-4 justify-center">
        <h2 class="text-4xl font-bold text-nixdarkblue pb-2">
          Donate with SEPA bank transfer
        </h2>
        <p class="font-light">
          The NixOS Foundation also accepts donations via SEPA bank transfer. Please send payments to:
        </p>
        <pre class="font-mono bg-nixlighterblue text-nixdarkerblue font-bold whitespace-pre-line p-8 rounded-3xl">
Stichting NixOS Foundation, Utrecht, The Netherlands

IBAN: NL13 BUNQ 2061 2530 32
BIC:  BUNQNL2AXXX</pre>
        <p class="text-xs font-light">
          Please add your name and purpose (donation) in the description of the transfer.
          <i>
            If you would like to support us with amounts above 2000 euro per year, please contact us at
            <a href="mailto:foundation@nixos.org">foundation@nixos.org</a>
            , as this will have tax implications.
          </i>
        </p>
      </div>
    </Container>

    <img src="/divider/slope_down.svg" class="w-full object-fill object-[60%_top] h-16 -scale-y-100" />
    <div class="bg-nixdarkblue py-16 text-white">
      <Container class="grid md:grid-cols-2 gap-8 px-12">
        <div class="flex flex-col justify-center">
          <div class="grid grid-cols-2 sm:grid-cols-5 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4">
            <ExternalLogo class="p-5" href="https://www.4tu.nl/" src="/images/logos/4tu.svg" alt="4TU logo" />
            <ExternalLogo class="" href="https://www.antithesis.com/" src="/images/logos/antithesis.svg" alt="Antithesis logo" />
            <ExternalLogo class="p-5" href="https://deploy.equinix.com/" src="/images/logos/equinix_metal.svg" alt="Equinix logo" />
            <ExternalLogo class="p-5" href="https://www.fastly.com/" src="/images/logos/fastly.svg" alt="Fastly logo" />
            <ExternalLogo class="" href="https://www.hetzner.com/" src="/images/logos/hetzner.png" alt="Hetzner logo" />
            <ExternalLogo class="p-5" href="https://www.logicblox.com" src="/images/logos/logicblox.png" alt="LogicBlox logo" />
            <ExternalLogo class="p-3" href="https://www.macstadium.com/" src="/images/logos/macstadium.png" alt="MacStadium logo" />
            <ExternalLogo class="p-3" href="https://github.com/snabbco/snabb" src="/images/logos/snabb.png" alt="Snabb logo" />
            <ExternalLogo class="" href="https://www.tudelft.nl/" src="/images/logos/tudelft.png" alt="TU Delft logo" />
            <ExternalLogo class="p-0" href="https://www.uu.nl/" src="/images/logos/universiteit_utrecht.png" alt="Universiteit Utrecht logo" />
          </div>
        </div>
        <div class="flex flex-col gap-4 justify-center">
          <h1 class="text-4xl font-bold pb-2">
            Acknowledgements
          </h1>
          <p class="font-light">
            The Nix package manager was developed by
            <a href="https://edolstra.github.io/">Eelco Dolstra</a>
            as part of his PhD research in the
            <a href="https://www.nwo.nl/en/projects/638001201">TraCE project</a>,
            funded by the
            <a href="http://www.jacquard.nl/">Jacquard programme</a>
            of the
            <a href="http://www.nwo.nl/">Netherlands Organisation for Scientific Research</a>
            (NWO) and SERC. The first prototype of NixOS was developed by
            <a href="http://www.tjaldur.nl/">Armijn Hemel</a>
            as his master’s thesis project.
            Hydra, the Nix-based continuous build system, was developed as part of the LaQuSo Buildfarm project, funded by
            <a href="https://www.4tu.nl/nirict/">NIRICT</a>
            and
            <a href="http://www.laquso.com/">LaQuSo</a>.
          </p>
          <p class="font-light">
            The following companies and institutes have supported the development of NixOS and hosting for its infrastructure.
            We are very grateful for that!
            If you would like to support us as well, please contact
            <a href="mailto:foundation@nixos.org">The NixOS Foundation</a>.</p>
        </div>
      </Container>
    </div>

</Layout>

