---
import { getEntry } from 'astro:content';

import Container from '@/components/layout/Container.astro';
import PageHeader from '@/components/layout/PageHeader.astro';
import Acknowledgements from '@/components/pages/donate/Acknowledgements.astro';
import Donations from '@/components/pages/donate/Donations.astro';
import Merchandise from '@/components/pages/donate/Merchandise.astro';
import InlineSVG from '@/components/util/InlineSVG.astro';
import Link from '@/components/util/Link.astro';
import Layout from '@/layouts/Layout.astro';

const sponsors = await getEntry('sponsors', 'info');
---

<Layout title="Donate">
  <PageHeader text="Donate" />

  <Container class="grid px-12 pt-16">
    <p class="text-xl font-bold text-gray-700">
      The NixOS infrastructure, development and events are funded by its users
      and sponsors.
    </p>
  </Container>

  <Container class="grid gap-8 px-12 pb-20 pt-8 md:grid-cols-2">
    <div class="flex flex-col justify-center gap-4">
      <p>
        Maintaining our build farm and binary cache is very expensive. We depend
        on your support to ensure the continuous operation and expansion of the
        NixOS infrastructure.
      </p>
      <p>
        Please consider donating a small amount every month to contribute to
        sustainable funding. Donations are handled by a nonprofit organization,
        the <Link href="/community#foundation">NixOS Foundation</Link>.
      </p>
    </div>

    <div class="flex flex-col items-center justify-center">
      <InlineSVG
        src="/src/assets/image/nixos-foundation-logo.svg"
        class="max-h-96"
      />
    </div>
  </Container>

  <Merchandise />

  <Donations />

  <Acknowledgements sponsors={sponsors} />
</Layout>
