---

import Layout from '../layouts/Layout.astro';
import Container from "../components/layout/Container.astro";
import PageHeader from "../components/layout/PageHeader.astro";

import Tag from "../components/ui/Tag.astro";
import Timeline from "../components/layout/download/Timeline.astro";
import TimelineText from "../components/layout/download/TimelineText.astro";

---

<Layout title="Explore">
  <PageHeader text="Explore" />

  <Container class="py-16">
    <h1 class="text-2xl text-center font-light text-neutral-500">
      Find out why so many developers, system administrators and other enthusiasts use Nix and cannot imagine a world without it.
    </h1>
  </Container>

  <Container>
    <div class="timeline !px-0 grid md:grid-cols-2 gap-x-[6rem]">

      <Timeline number="1">
          <img slot="image" src="/images/explore/works.svg" class="h-[34rem] mb-12" />
          <Fragment slot="text">
            <TimelineText
              heading = "Always working development environment."
              subHeading = "Nix provides developers with a complete and consistent development environment. Stop worrying how to install dependencies for your project.";
              tags = {[
                {
                  href: "https://nixos.org/guides/how-nix-works#complete-dependencies",
                  text: "complete dependencies",
                }
              ]}
              paragraphs = {[
                `
                  With Nix, a build process only has access to dependencies that have been declared explicitly.
                  So if a build succeeds, you know you've specified all necessary dependencies.
                `,
                `
                  The same build process specification can be used to start a development environment
                  (optionally augmented with additional development tools).
                `,
                "You will no longer have to hear:",
              ]}
              emphasis = "But it works on my machine!"
            />
          </Fragment>
      </Timeline>

      <Timeline number="2" image="right">
          <img slot="image" src="/images/explore/works.svg" class="h-[34rem] mb-12" />
          <Fragment slot="text">
            <TimelineText
              heading = "Always working development environment."
              subHeading = "Nix provides developers with a complete and consistent development environment. Stop worrying how to install dependencies for your project.";
              tags = {[
                {
                  href: "https://nixos.org/guides/how-nix-works#complete-dependencies",
                  text: "complete dependencies",
                }
              ]}
              paragraphs = {[
                `
                  With Nix, a build process only has access to dependencies that have been declared explicitly.
                  So if a build succeeds, you know you've specified all necessary dependencies.
                `,
                `
                  The same build process specification can be used to start a development environment
                  (optionally augmented with additional development tools).
                `,
                "You will no longer have to hear:",
              ]}
              emphasis = "But it works on my machine!"
            />
          </Fragment>
      </Timeline>
    </div>
  </Container>

</Layout>
