---
import {Icon} from "astro-icon";
import Layout from "../layouts/Layout.astro";
import Container from "../components/layout/Container.astro";
import Button from "../components/ui/Button.astro";
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
const landingFeatures = await getCollection("landing-features");
---

<Layout title="Nix & NixOS">
  <div class="bg-nixlighterblue">
    <Container class="flex flex-col md:flex-row items-center justify-between py-4">
      <b class="text-nixsemidarkblue text-lg">NixOS 23.05 released.</b>
      <Button>Announcement</Button>
    </Container>
  </div>
  <div class="bg-[url('/hero-bg.svg')] bg-cover bg-no-repeat bg-left">
    <Container class="text-white grid md:grid-cols-2 py-16 md:py-32">
      <div class="flex flex-col gap-4">
        <h1 class="text-6xl font-heading font-bold leading-none">
          Declarative builds<br/> and deployments.
        </h1>
        <p class="text-xl font-light">
          Nix is a tool that takes a unique approach to package management and
          system configuration. Learn how to make reproducible, declarative and
          reliable systems.
        </p>
        <div class="flex flex-col md:flex-row justify-stretch gap-4">
          <Button color="green" size="lg">Download</Button>
          <Button color="blue" size="lg">Get Started</Button>
        </div>
      </div>
    </Container>
  </div>
  <div class="bg-[url('/divider/landing_search_top.svg')] bg-bottom bg-no-repeat pb-48 pt-16">
    <Container class="grid md:grid-cols-3 gap-4">
      {
        landingFeatures.map(async (feature) => {
          const { Content } = await feature.render();
          return (
            <div class="text-center flex flex-col">
              <Image
                src={feature.data.img}
                class="w-1/2 h-32 mx-auto mb-6"
                alt={feature.data.title}
                width="200"
                height="200"
              />
              <h2 class="text-4xl text-nixdarkblue font-heading font-bold leading-none mb-4">
                {feature.data.title}
              </h2>
              <div class="leading-loose text-lg font-light">
                <Content />
              </div>
            </div>
          );
        })
      }
    </Container>
  </div>
  <div class="bg-nixlighterblue py-4">
    <Container class="flex justify-center flex-col w-full items-center gap-4">
      <h2
        class="text-4xl text-center md:w-1/3 text-nixdarkblue font-heading font-bold pb-2"
      >
        Choose from Thousands of Packages
      </h2>
      <p class="font-light leading-relaxed text-2xl md:w-3/5 text-center">
        The Nix Packages collection (Nixpkgs) is a set of over 80 000 packages
        for the Nix package manager.
      </p>
      <div class="relative">
        <Icon alt="Search" class="h-8 text-nixdarkblue hidden md:block absolute top-3 left-3" pack="mdi" name="search" />
        <input type="text" class="border-2 rounded-full text-xl placeholder-gray-400 py-3 pl-11 pr-4 w-96" placeholder="Search for a package" />
      </div>
      <Button color="green">Search</Button>
    </Container>
  </div>
  <img src="/divider/landing_search_bottom.svg" class="w-full object-cover object-[60%_top] h-80" />
  <div>
    <Container>
      <h2
          class="text-4xl text-center w-full text-nixdarkblue font-heading font-bold pb-2"
      >
        Examples
      </h2>
      <div class="grid md:grid-cols-3 items-center">
        <div class="bg-black w-64 h-64"></div>
        <div class="bg-black w-64 h-64"></div>
        <div class="bg-black w-64 h-64"></div>
        <div class="bg-black w-64 h-64"></div>
        <div class="bg-black w-64 h-64"></div>
        <div class="bg-black w-64 h-64"></div>
      </div>
    </Container>
  </div>
</Layout>
