---
import { getCollection, getEntry } from 'astro:content';

import Layout from '@/layouts/Layout.astro';
import Button from '@/components/ui/Button.astro';
import Banner from '@/components/ui/Banner.astro';
import Hero from '@/components/pages/home/Hero.astro';
import Features from '@/components/pages/home/Features.astro';
import SearchPackages from '@/components/pages/home/SearchPackages.astro';
import Examples from '@/components/pages/home/Examples.astro';

import { generatePathFromPost } from '@/lib/utils';

const landingFeatures = await getCollection('landing-features');
const demos = await getEntry('landing', 'demos');
const posts = await getCollection('blog');
posts
  .sort((a, b) => {
    const dateA = new Date(a.data.date);
    const dateB = new Date(b.data.date);
    return dateA > dateB ? -1 : 1;
  })
  .filter((p) => {
    return p.slug.split('/')?.[0] === 'announcements';
  })
  .reverse();
---

<Layout>
  <Banner
    class="flex flex-col items-center justify-between gap-1 text-lg md:flex-row"
  >
    <p>{posts[0].data.title}</p>
    <Button href={generatePathFromPost(posts[0])}>Announcement</Button>
  </Banner>

  <Hero />

  <Features landingFeatures={landingFeatures} />

  <SearchPackages />

  <Examples demos={demos} />
</Layout>
