---
import Container from "../components/layout/Container.astro";
import PageHeader from "../components/layout/PageHeader.astro";
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
import Button from "../components/ui/Button.astro";
import Divider from "../components/layout/Divider.astro";

const learnMenuItems = [
    {
        imgUrl: '/images/learn/installGfx.svg',
        title: 'Install Nix',
        color: 'green'
    },
    {
        imgUrl: '/images/learn/firstStepsGfx.svg',
        title: 'First Steps with Nix',
        color: 'orange'
    },
    {
        imgUrl: '/images/learn/howItWorksGfx.svg',
        title: 'How Nix works',
        color: 'lightblue'
    }
]

---

<Layout title="Learn Nix | Nix & NixOS">
    <PageHeader text="Learn" />
    <Container class="grid grid-cols-3 py-16 gap-4">
        {learnMenuItems.map((i) => (
            <div
                class="border-0.5 border-nixdarkerblue rounded-2xl p-8 flex flex-col justify-center gap-8"
            >
                <img src={i.imgUrl} class="h-28">
                <Button
                    size="lg-full"
                    color={i.color}>
                    {i.title}
                </Button>
            </div>
        ))}
    </Container>
    <Divider style="slope" mirrorY mirrorX />
    <div class="bg-nixdarkblue text-white p-8">
        <Container>
            <h2 class="text-4xl font-heading font-black pb-8">Search</h2>
            <div class="grid grid-cols-2">
                <h3 class="text-2xl font-bold">Nix packages</h3>
                <h3 class="text-2xl font-bold">NixOS options</h3>
            </div>
        </Container>
    </div>
    <Divider style="slope" mirrorX />
</Layout>