---
interface Props {
  number: string;
}

const { number = 0 } = Astro.props;
---

<div class="absolute left-[-3rem] top-0 hidden h-full w-1 bg-nix-blue md:block">
</div>
<div
  class="absolute left-[-5rem] top-0 hidden h-[4rem] w-[4rem] rounded-[2rem] bg-nix-green text-center text-[3rem] font-bold leading-[4rem] text-white md:block"
>
  {number}
</div>
