---

interface Props {
  number: string;
}

const {
  number = 0,
} = Astro.props;

---
<div class="absolute hidden md:block w-1 h-full bg-nix-blue top-0 left-[-3rem]"/>
<div class="absolute hidden md:block text-white text-center leading-[4rem] rounded-[2rem] font-bold text-[3rem] w-[4rem] h-[4rem] bg-nix-green top-0 left-[-5rem]">{number}</div>
