---
import Container from '@/components/layout/Container.astro';
import Quotation from '@/components/ui/Quotation.astro';
import Link from '@/components/util/Link.astro';
---

<Container class="mt-16 space-y-4 leading-relaxed">
  <h2
    class="mt-4 font-heading text-4xl font-bold text-nix-blue"
    id="community-values-intro"
  >
    Introduction
    <Link href="#community-values-intro" class="text-lg">🔗</Link>
  </h2>

  <Quotation>
    <p>
      Communities form when different people unite around a common purpose.
      Shared values guide decision making, and community goals supersede
      individual interests and agendas.
    </p>

    <p class="py-2 text-right italic">
      <Link href="https://opensource.com/open-source-way" class="text-lg"
        >The Open Source Way</Link
      >
    </p>
  </Quotation>

  <p class="mt-2 leading-relaxed">
    Our common purpose is to develop, propagate, and promote the adoption of the <Link
      href="https://edolstra.github.io/pubs/phd-thesis.pdf"
      >purely functional software deployment model</Link
    >. Our values help us achieve this purpose by guiding decisionmaking across
    the community, keeping us moving in a common direction. This document
    captures our core values so that they can be shared and referenced by
    everyone in the community.
  </p>

  <h3
    class="mt-4 font-heading text-3xl font-bold text-nix-blue"
    id="community-values-whatis"
  >
    What is a value?
    <Link href="#community-values-whatis" class="text-lg">🔗</Link>
  </h3>

  <p class="mt-2 leading-relaxed">
    Values are <span class="italic">not</span> a Code of Conduct, they do not define
    governance structures, and they do not provide specific policies. Instead, values
    inform the decisions we make about these things. A good test for <Link
      href="https://medium.com/the-u-s-digital-service/our-values-1fc02b53598"
      >whether something is a value</Link
    > is:
  </p>

  <Quotation>
    If a statement can be invoked by anyone in an organization, and cause a
    decision to be re-evaluated or changed, without regard to anyone’s rank or
    title, then you have a bona fide [i.e. genuine] value. If it doesn’t work
    that way, then it’s not a value.
  </Quotation>

  <p class="mt-2 leading-relaxed">
    To apply in many situations, values must be high-level, abstract concepts.
    Therefore, in the text below, each value is presented as a heading followed
    by an elaboration of its meaning. This is meant as a starting point for
    interpretation, not a comprehensive definition. The heading and the
    elaboration have equal importance.
  </p>
</Container>
