[% WRAPPER layout.tt title='Search NixOS options' menu='nixos' %]

<div id="root"></div>

        <script type="application/javascript" src="../elm/options.js"></script>
        <script type="application/javascript">
          var app = Elm.Main.embed(document.getElementById('root'));
        </script>

[% END %]
