---
const { class: extraClasses, wrapperClasses } = Astro.props;

import Container from '../layout/Container.astro';
---

<div class:list={['clickable', wrapperClasses]}>
  <Container class:list={['p-4', extraClasses]}>
    <slot />
  </Container>
</div>

<script>
  const clickables = document.querySelectorAll('.clickable');
  clickables.forEach((clickable) => {
    clickable.classList.add('cursor-pointer');
    clickable.addEventListener('click', (e) => {
      // Don't interfere when a user clicks on a button
      if (e.target.matches('a, button') || e.target.closest('a, button')) {
        return;
      }
      clickable.querySelector('a, button').click();
    });
  });
</script>
