---
export interface Props {
  id: number;
  onBlueBackground?: boolean;
}

const citationId = Math.random().toString(12).slice(2, 11);

const { id, onBlueBackground } = Astro.props;
---

<span class="group relative" aria-describedby={citationId}>
  <span>
    [{id}]
  </span>
  <div
    role="tooltip"
    id={citationId}
    class:list={[
      'bg-primary-black-75 absolute top-full left-0 z-10 hidden w-64 max-w-sm rounded-sm border p-2 text-sm shadow-lg group-hover:block hover:block',
      !onBlueBackground && 'bg-primary-white',
      onBlueBackground && 'bg-secondary-afghani-blue-15',
    ]}
  >
    <slot />
  </div>
</span>

<style>
  @reference "./../../styles/base.css";
</style>
