---
import logoWHite from '@nixos/branding/artifacts/internal/nixos-logomark-default-flat-none.svg';
import { Image } from 'astro:assets';
---

<div class="flex flex-col justify-center items-center font-heading">
  <Image src={logoWHite} alt="NixOS" class="inline-block h-32 w-32" />
  <span class="text-[4.6em] leading-12 mt-4"> NixOS </span>
  <span class="text-[3em] font-extralight"> Foundation </span>
</div>
