---
import { Icon } from 'astro-icon/components';

interface Props {
  color?: 'secondary-afghani-blue' | 'white';
  size?: 'sm' | 'lg' | 'sm-full';
  icon?: 'search' | null;
  placeholder?: string;
  name?: string;
}

const {
  color = 'secondary-afghani-blue',
  size = 'lg',
  icon = null,
  placeholder = '',
  name = null,
} = Astro.props;
---

<div class="relative">
  <Icon
    alt="Search"
    class:list={[
      'absolute h-8 w-8',
      {
        'text-secondary-afghani-blue': color === 'secondary-afghani-blue',
        'text-primary-white': color === 'white',
        'top-3.5 left-3 md:block': size === 'lg',
        'top-1.5 left-2.5': size === 'sm-full',
      },
    ]}
    name="mdi:search"
  />
  <input
    type="text"
    class="focus:border-secondary-afghani-blue-75 focus:outline-secondary-afghani-blue-95 border-primary-black-85 outline-2 outline-transparent"
    class:list={[
      'text-normal rounded-full',
      {
        'placeholder-primary-black-65 text-secondary-afghani-blue border-primary-black-85 bg-primary-white':
          color === 'secondary-afghani-blue',
        'placeholder-secondary-afghani-blue-95 border-primary-white text-primary-white bg-transparent':
          color === 'white',
        'w-full border-2 py-3 pr-4 pl-11 text-xl md:w-[30rem]': size === 'lg',
        'w-full border-1 px-10 py-2 md:pl-11': size === 'sm-full',
      },
    ]}
    name={name}
    placeholder={placeholder}
  />
</div>
