---
import { Icon } from 'astro-icon/components';

interface Props {
  color?: 'afghani-blue' | 'white';
  size?: 'sm' | 'lg' | 'sm-full';
  icon?: 'search' | null;
  placeholder?: string;
  name?: string;
}

const {
  color = 'afghani-blue',
  size = 'lg',
  icon = null,
  placeholder = '',
  name = null,
} = Astro.props;
---

<div class="relative">
  <Icon
    alt="Search"
    class:list={[
      'absolute h-8 w-8',
      {
        'text-afghani-blue': color === 'afghani-blue',
        'text-white': color === 'white',
        'top-3.5 left-3 md:block': size === 'lg',
        'top-1.5 left-2.5': size === 'sm-full',
      },
    ]}
    name="mdi:search"
  />
  <input
    type="text"
    class="focus:border-afghani-blue-75 focus:outline-afghani-blue-75 border-black-85 outline-2 outline-transparent"
    class:list={[
      'text-normal placeholder-black-95 rounded-full',
      {
        'placeholder-black-85 text-afghani-blue border-black-85 bg-white':
          color === 'afghani-blue',
        'placeholder-afghani-blue-95 border-white bg-transparent text-white':
          color === 'white',
        'w-full border-2 py-3 pr-4 pl-11 text-xl md:w-[30rem]': size === 'lg',
        'w-full border-1 px-10 py-2 md:pl-11': size === 'sm-full',
      },
    ]}
    name={name}
    placeholder={placeholder}
  />
</div>
