---
const { dark } = Astro.props;
---

<div
  class:list={[
    'my-4 rounded-xl p-8 font-bold',
    dark
      ? 'dark bg-secondary-afghani-blue-35 text-secondary-afghani-blue-95!'
      : 'bg-secondary-afghani-blue-95 text-secondary-afghani-blue-15',
  ]}
>
  <slot />
</div>
