---
import { getEntry } from 'astro:content';
const sponsors = await getEntry('sponsors', 'info');
---

<div class="flex flex-wrap items-center justify-center gap-8">
  {
    sponsors.data.items.map((item) => (
      <a href={item.href} target="_blank" rel="noopener noreferrer">
        <img
          class="max-h-14 max-w-32 opacity-65 grayscale-100 transition-all duration-100 hover:opacity-100 hover:grayscale-0 md:max-w-48"
          src={item.src}
          alt={item.alt}
        />
      </a>
    ))
  }
</div>
