---
import Container from '@/components/layout/Container.astro';
import NixosSearchInput from '@/components/ui/NixosSearchInput.astro';
---

<section
  class={`
    relative
    after:block
    after:bg-[url(/divider/landing_search_bottom.svg)]
    after:bsolute
    after:left-0
    after:bottom-0
    after:w-full
    after:bg-divider
    after:overflow-hidden
    after:bg-[60%_100%]
    after:bg-no-repeat
    after:h-[30rem]
    after:-mb-16
    after:-mt-48
  `}
>
  <div class="bg-nix-blue-extralight pt-4">
    <Container
      class="flex w-full flex-col items-center justify-center gap-4 pb-8 pt-8"
    >
      <h2
        class="pb-0 text-center font-heading text-4xl font-bold leading-tight text-nix-blue md:w-2/3"
      >
        Choose from Thousands of Packages
      </h2>
      <p class="pb-2 text-center text-2xl leading-relaxed md:w-5/6">
        The Nix Packages collection (<a
          class="font-bold !text-nix-blue"
          href="#">Nixpkgs</a
        >) is a set of <span class="font-bold text-nix-green"
          >over 100 000 packages</span
        >
        for the Nix package manager.
      </p>
      <NixosSearchInput collection="packages" withSubmit />
    </Container>
  </div>
</section>
