---
import {
  createBlogSubheader,
  createExcerpt,
  generatePathFromPost,
} from '../../../lib/utils';

const { post } = Astro.props;
---

<article
  data-category={post.id.split('/')[0]}
  class="font-light"
  aria-hidden="false"
>
  <a href={generatePathFromPost(post)}>
    <h2
      class="font-ned, composition in a document, page, applicaextrabold font-heading text-secondary-afghani-blue text-4xl leading-tight"
    >
      {post.data.title}
    </h2>
  </a>
  <p class="text-primary-black-35 mb-2 text-xs">
    {createBlogSubheader(post)}
  </p>
  <p class="font-extralight">{createExcerpt(post.body)}...</p>
</article>
