---
import Headline from '@/components/ui/typography/Headline.astro';
import Paragraph from '@/components/ui/typography/Paragraph.astro';
import {
  createBlogSubheader,
  createExcerpt,
  generatePathFromPost,
} from '../../../lib/utils';

const { post } = Astro.props;
---

<article class="article" data-category={post.id.split('/')[0]}>
  <a href={generatePathFromPost(post)}>
    <Headline level={2} variant="blue">
      {post.data.title}
    </Headline>
  </a>
  <Paragraph size="sm">
    {createBlogSubheader(post)}
  </Paragraph>
  <Paragraph variant="black" set:html={createExcerpt(post.body) + '...'} />
</article>
