[% WRAPPER layout.tt title="How to Contribute" %]

<h1>How to Contribute</h1>

<p class="lead">
  This guide explains how you can contribute to Nix, Nix packages or NixOS.
</p>


<h2>Report an issue</h2>

<p>We can only fix issues that we know of, so please report any issue you encounter.</p>

<p>Issues with the <b>package manager Nix</b> (including it's documentation) are reported at <a href="https://github.com/NixOS/nix/issues">https://github.com/NixOS/nix/issues</a>.</p>

<p>Issues with <b>specific packages or NixOS</b> (including it's modules and documentation) are reported at <a href="https://github.com/NixOS/nixpkgs/issues">https://github.com/NixOS/nixpkgs/issues</a>.</p>

<p>Make sure that there is not already an open issue for your problem. Please follow the issue template and fill in all requested information as they help us solve the problem.</p>

<p>You need a <a href="https://github.com/">GitHub</a> account for that.</p>


<h2>Contribute to Nix</h2>

<p>The package manager Nix is mostly written in C++. If you are a developer and want to contribute to it's development, you can find information on <a href="https://nixos.org/nix/manual/#chap-hacking">how to setup a development environment</a> in the manual.</p>

<p>You can find inspiration for things to improve in the <a href="https://github.com/NixOS/nix/issues">reported issues</a>. There are also some <a href="https://github.com/NixOS/nix/labels/easy">issues tagged with easy</a> that are a good start for new contributors.</p>

<p>Feel free to join the <a href="irc://irc.freenode.net/nixos">#nixos-dev IRC channel</a> on <a href="https://freenode.net/">Freenode</a> to get in contact with other developers.</p>


<h2>Contribute to Nix packages</h2>

<p>Packaging for Nix is simple when you have understood the basic concept.</p>

<p><a href="https://nixos.org/nixpkgs/manual/#chap-quick-start">The manual</a> explains step-by-step how to add new packages to the Nix package collection. There are also <a href="https://nixos.org/nixpkgs/manual/#chap-language-support">programming language specific instructions</a>.</p>


<h2>Contribute to NixOS</h2>

<p>It’s pretty easy to contribute to NixOS compared to other linux distributions. All the code is on GitHub in the repository <a href="https://github.com/NixOS/nixpkgs">nixpkgs</a>. Everyone can propose an improvement and most of them get merged after a review of the maintainers. You will get feedback in the pull request.</p>

<p>See the <a href="https://nixos.org/nixos/manual/index.html#ch-development">NixOS manual</a> to get started and find all the details.</p>

<p>You can find inspiration for things to improve in the <a href="https://github.com/NixOS/nixpkgs/issues">reported issues</a>. There are also <a href="https://github.com/NixOS/nixpkgs/labels/3.skill%3A%20good-first-bug">issues tagged with good-first-bug</a> that are a good start for new contributors.</p>

<p>Feel free to join the <a href="irc://irc.freenode.net/nixos">#nixos-dev IRC channel</a> on <a href="https://freenode.net/">Freenode</a> to get in contact with other developers.</p>


<h2>Contribute to Documentation</h2>

<p>The manuals are currently written in <a href="https://docbook.org/">DocBook</a>. There are <a href="https://github.com/NixOS/rfcs/pull/64">efforts</a> to switch to a simpler markup language.</p>

<p>You find the documentation of Nix in it's <a href="https://github.com/NixOS/nix/tree/master/doc/manual">repository</a>.</p>

<p>There are <a href="https://nixos.org/nixpkgs/manual/#chap-contributing">instructions on how to contribute</a> in the nixpkgs manual itself.</p>

<p>The NixOS manual also contains a chapter about <a href="https://nixos.org/nixos/manual/index.html#sec-writing-documentation">writing documentation</a>. It contains instructions for converting Markdown to DocBook.</p>


<h2>Contribute to this Website</h2>

<p>The website has a simple structure and is mostly HTML with Bootstrap.</p>

<p>The <a href="https://github.com/NixOS/nixos-homepage">source code</a> is on GitHub. You find the build instructions in it's <a href="https://github.com/NixOS/nixos-homepage#readme">readme</a>.</p>

<p>Feel free to <a href="https://discourse.nixos.org/t/marketing-team-can-we-present-nix-nixos-better/6249">get in contact with the marketing team</a> and consider joining the effort in improving the presentation on the website.</p>


<h2>Join a Team</h2>

<p>There are several teams of people from the community that work on a specific aspect of the NixOS ecosystem.</p>

<p>If you are interested in working with them, you find all teams and contact information on the <a href="[%root%]governance.html">governance page</a>.</p>

[% END %]
