---

interface Props {
  number: string;
  image?: "left" | "right";
}

const {
  number = 0,
  image = "left"
} = Astro.props;

import TimelineCenter from "./TimelineCenter.astro";

const textCommonClasses = "flex flex-col justify-center font-light gap-4";

---
{ image === "left"
  ?
    <div class="justify-self-end">
      <slot name="image"/>
    </div>

    <div class:list={[textCommonClasses, "text-left", "relative"]}>
      <TimelineCenter number={number}/>
      <slot name="text"/>
    </div>
  :
    <div class:list={[textCommonClasses, "text-right"]}>
      <slot name="text"/>
    </div>

    <div class="justify-self-start relative">
      <TimelineCenter number={number}/>
      <slot name="image"/>
    </div>
}
