---

interface Props {
  number: string;
}

const { number } = Astro.props;

---
<slot name="left-side"/>

<div class="relative flex flex-col justify-center font-light gap-4">
    <div class="absolute w-1 h-full bg-nixdarkblue top-0 left-[-3rem]"/>
    <div class="absolute text-white text-center leading-[4rem] rounded-[2rem] font-bold text-[3rem] w-[4rem] h-[4rem] bg-nixgreen top-0 left-[-5rem]">{number}</div>
    <slot name="right-side"/>
</div>
