.community-description {
  .generic-layout();
  .lead();
}

.community-banner {
  .wide-banner();
  margin-bottom: 3*@gutter;
}

.community-communication {
  .generic-layout();
  margin-bottom: 3*@gutter;

  & > div {
    #columns(3);
    & > div:last-child > ul {
      list-style: none;
      margin: 0;

      & > li.social-icon {

        & > a {
          position: relative;
          left: 3*@gutter;
        }

        & > a::before {
          position: absolute;
          display: inline-block;
          content: "";
          height: 26*@unit;
          width: 26*@unit;
          top: -2px;
          left: -2*@gutter;
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center center;
          margin: 0;
          padding: 0;
        }

        &.-reddit > a::before {
          #svg.icon.social.reddit.black();
        }

        &.-discord > a::before {
          #svg.icon.social.discord.black();
        }

        &.-stackoverflow > a::before {
          #svg.icon.social.stackoverflow.black();
        }

        &.-twitter > a::before {
          #svg.icon.social.twitter.black();
        }

        &.-mastodon > a::before {
          #svg.icon.social.mastodon.black();
        }
      }
    }
  }
}

.community-nixcon {
  background: #theme.color[blue-dark];
  padding-top: 1*@gutter;
  padding-bottom: 3*@gutter;
  margin-bottom: 3*@gutter;

  & > div {
    .generic-layout();

    color: #theme.color[white];

    h1, a {
      color: #theme.color[white];
    }

    article::before {
      display: block;
      content: "";
      height: 200*@unit;
      width: 200*@unit;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
      background-color: #theme.color[white];
      margin: 0 auto 1*@gutter auto;
      padding: 0;
    }

    article.nixcon-2020::before {
      #svg.nixcon.2020.color();
    }

    article.nixcon-2019::before {
      #svg.nixcon.2019.color();
    }

    article.nixcon-2018::before {
      #svg.nixcon.2018.color();
    }

    article.nixcon-2017::before {
      #svg.lambdaflake.color();
    }

    article.nixcon-2015::before {
      #svg.lambdaflake.color();
    }

    footer {
      text-align: center;
      margin-top: 1*@gutter;
    }

    & > p {
      .lead();
    }

    & > div {
      #columns(2);

      #screen-sm-min({
        & > div:first-child {
          width: 34%;
        }

        & > div:last-child {
          width: 66%;

        }
      });

      h2 {
        margin-top: 0;
        margin-bottom: 2*@gutter;
      }

      & > div > div {
        height: 100%;
        padding: 1.5*@gutter;

        h3 {
          margin-top: 0;
          margin-bottom: 0;
        }

        article {
          margin-bottom: 2*@gutter;
        }
      }

      & > div:first-child > div {
        background: #theme.color[blue-dark2];
        border-radius: 1*@gutter;

        h2, h3, p, a {
          color: #theme.color[white];
        }
      }

      & > div:last-child {
        h2, h3, p, a {
          color: #theme.color[white];
        }

        & > div > div {
          #columns(2);
        }
      }
    }
  }
}

.community-meetups {
  .generic-layout();

  & > ul {
    #columns(3);
    text-align: center;
    margin: 2*@gutter 0;
    font-size: 120%;

    & > li {
      h2 {
        font-size: 140%;
      }

      & > ul {
        list-style: none;
        margin: 0;
        padding: 0;
        & > li {
          margin: 0.5*@gutter 0;
        }
      }
    }
  }
}
