// Download page

div.main li {
    margin-bottom: 0.5em;
}

div.main .nav li {
    margin-bottom: -1px;
}

div.main .nav {
  margin-bottom: 0;
}

div.main .tab-content {
  border: 1px solid #ddd;
  border-top: 0;
  padding: 1em;
}

div.main .tab-content .row {
  margin: 1em;
}

