.learn-getstarted {
  #container();

  & > div {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1*@gutter;
    align-items: end;

    #screen-xs-min({
      grid-template-columns: repeat(2, 1fr);
    });

    & > div {
      border: 1px solid #theme.color[blue-dark2];
      border-radius: 1*@gutter;
      display: block;
      padding: 2*@gutter;
      position: relative;
    }

    // Intall Nix
    & > div:first-child > a {
      #columns(2);

      border: 0;

      & > * {
        height: 4rem;
      }

      & > button {
        .button();
        .-primary();
      }
    }

    // Develop with Nix
    & > div:last-child > a{
      #columns(2);

      border: 0;

      & > * {
        height: 4rem;
      }

      & > button {
        .button();
        .-highlighted();
      }
    }
  }
}

.learn-guides > ul {
  &:extend(.choice-smorgasboard all);
}

.learn-manuals {
  margin-bottom: @gutter;
  & > ul {
    #columns(3, @md: 3, @sm: 1);
    list-style-type: none;

    padding: 0;
    margin: 0;
    margin-bottom: 0;
  }

  & > ul ul ul {
    margin-bottom: 0;
  }

  ul.comma-separated {
    &, & > li {
      margin: 0;
      padding: 0;
      display: inline;
    }
    & > li::after {
      content: ",";
    }
  }

}

.learn-gethelp {
  & > ul {
    #columns(2);
  }
  .support {
    &:extend(.well all);
  }
}

.learn-search {
  & > ul {
    #columns(2);
    padding-bottom: 1rem;
  }
  form {
    display: flex;
    align-items: center;
    flex-grow: 1;
    & > .form-input {
      &, input {
        margin: 0;
      }
      input {
        background-color: transparent;
      }
      flex-grow: 1;
      .form-input.with-icon({
        #svg.icon.search.blue-light;
      });
    }
  }
}

