// Manual

.docbook-page {
  .hidden {
    display: none;
  }

  .pager {
    margin: 0;
    margin-bottom: @gutter;
    list-style-type: none;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-direction: column;

    #screen-md-min({
      align-items: center;
      flex-direction: row;
    });

    a {
      #_form.button();
      width: 100%;
    }
  }
}

div.docbook {
  div.page-header {
    margin-top: 4em;
  }

  section {
    margin-top: 2em;
  }

  div.example {
    margin-top: 1.5em;
  }

  br.example-break {
    display: none;
  }

  div.footnotes > hr {
    border-color: #theme.color[gray-light];
  }

  div.footnotes > br {
    display: none;
  }

  dt {
    margin-top: 1em;
  }

  code {
    padding: 0;
    border: 0;
    background-color: inherit;
    color: inherit;
    font-size: 100%;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    hyphens: none;
  }

  div.toc {
    margin-bottom: 3em;
    border-bottom: 1*@unit solid #theme.color[gray-light];
  }

  div.toc dd {
    margin-left: 2em;
  }

  pre.hljs {
    &:extend(.file-listing);
    overflow-x: visible;
  }

  span.command {
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace; /* from bootstrap*/
    -webkit-hyphens: none;
    -moz-hyphens: none;
    hyphens: none;
  }

  .glossterm {
    font-weight: bold;
  }

  .calloutlist, .table-striped {
    tr {
      border-top: @unit solid #theme.color[gray-light];
    }
    tbody tr:nth-child(2n+1) {
      background: #theme.color[gray-lighter];
    }
    th, td {
      padding: @gutter/2;
    }
  }

  .table, .informaltable {
    th, td {
      padding: @gutter/2;
    }
  }

  // "Re-order" the styles for the headers
  h1 { #theme.h2 }
  h2 { #theme.h3 }
  h3 { #theme.h4 }
  h4 { #theme.h5 }

  .programlisting {
    &:extend(.file-listing all);
  }

  .screen {
    &:extend(.terminal-console all);
  }

  // From bootstrapify docbook
  .alert {
    &:extend(.notice-box all);
  }
  .alert-info {
    &:extend(.notice-box.-info);
  }
  .alert-warning {
    &:extend(.notice-box.-warning);
  }
}
