---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>

const { href, ...props } = Astro.props;

let linkProps = { href, ...props };

if (!!href && href.toString().startsWith('http')) {
  linkProps = { ...linkProps, target: '_blank', rel: 'noopener noreferrer' };
}
---

<a {...linkProps}>
  <slot />
</a>
