li.bibitem {
    font-size: 90%;
}

.abstract {
    display: none;
    margin: 1em 1em 1em 1em;
    padding: 0.4em;
    border: solid #005aa0 1px;
}

.abstract p:first-child {
    margin-top: 0em;
}

.abstract p {
    margin-bottom: 0em;
}
