li.bibitem {
    margin-bottom: 1em;
    list-style: square;
    font-size: 90%;
}

.abstract {
    display: none;
    margin: 1em 1em 1em 1em;
    padding: 0.4em;
    border: solid #005aa0 1px;
}

.abstract .newpara {
    margin-top: 1em;
}
