---

---

<p>
  The following release items are also available:
</p>
<ul class="list-disc ml-[1rem]">
  <li>
    <a href="/manual/nix/stable/release-notes/rl-2.19">Release notes</a>
  </li>
  <li>
    <a href="/manual/nix/stable">Manual</a>.
    Please read the <a href="/manual/nix/stable/quick-start">“Quick Start” section of the manual</a>
    for an overview of how to install and use Nix.
  </li>
  <li>
    Old releases are <a href="https://releases.nixos.org/?prefix=nix">also available</a>.
  </li>
</ul>

