---

import DownloadButtonAndSHA from "../components/DownloadButtonAndSHA.astro";
import Recommended from "../components/recommended.astro";

---

<p>
  You can install NixOS on physical hardware by burning one of the CD images onto a blank CD/DVD disk, or
  <a href="https://nixos.org/nixos/manual/index.html#sec-booting-from-usb">by copying it onto a USB stick</a>.
  For <span class="font-bold">installation instructions</span>, please see the
  <a href="/manual/nixos/stable">manual</a>.
</p>

<h3 class="text-2xl font-bold text-nixdarkblue pb-2">
  Graphical ISO image
</h3>

<p>
  The graphical installation ISO image
  <span class="font-bold">
    contains the graphical NixOS installer
  </span>
  as well as a
  <span class="font-bold">
    Desktop Environment
  </span>
  and several applications.
  It’s a <em>live CD</em>, so it allows you to get an impression of NixOS (and the Nix package manager) without installing it.
</p>

<div class="grid grid-flow-row gap-6 mx-[1rem]">
  <DownloadButtonAndSHA
    buttonHref="https://channels.nixos.org/nixos-23.05/latest-nixos-gnome-x86_64-linux.iso"
    buttonText="Download (GNOME, 64-bit Intel/AMD)"
    shaHref="https://channels.nixos.org/nixos-23.05/latest-nixos-gnome-x86_64-linux.iso.sha256"
    shaText="(SHA-256)"
  >
    <Recommended />
  </DownloadButtonAndSHA>

  <DownloadButtonAndSHA
    buttonHref="https://channels.nixos.org/nixos-23.05/latest-nixos-gnome-aarch64-linux.iso"
    buttonText="Download (GNOME, 64-bit ARM)"
    shaHref="https://channels.nixos.org/nixos-23.05/latest-nixos-gnome-aarch64-linux.iso.sha256"
    shaText="(SHA-256)"
  />

  <DownloadButtonAndSHA
    buttonHref="https://channels.nixos.org/nixos-23.05/latest-nixos-plasma5-x86_64-linux.iso"
    buttonText="Download (Plasma Desktop, 64-bit Intel/AMD)"
    shaHref="https://channels.nixos.org/nixos-23.05/latest-nixos-plasma5-x86_64-linux.iso.sha256"
    shaText="(SHA-256)"
  />

  <DownloadButtonAndSHA
    buttonHref="https://channels.nixos.org/nixos-23.05/latest-nixos-plasma5-aarch64-linux.iso"
    buttonText="Download (Plasma Desktop, 64-bit ARM)"
    shaHref="https://channels.nixos.org/nixos-23.05/latest-nixos-plasma5-aarch64-linux.iso.sha256"
    shaText="(SHA-256)"
  />

</div>

<p>
  Note that while the image itself only comes in GNOME and Plasma variations,
  the included installer also allows installing various other desktops,
  or installing without a desktop.
</p>

<h3 class="text-2xl font-bold text-nixdarkblue pb-2">
  Minimal ISO image
</h3>

<p>
  The minimal installation ISO image
  <span class="font-bold">
    does not contain the graphical user interface,
  </span>
  and is therefore a lot smaller.
  You have to
  <a href="/manual/nixos/stable/#ch-installation">run the installer from the console</a>.
  It contains a number of rescue tools.
</p>

<div class="grid grid-flow-row gap-6 mx-[1rem] mb-[1rem]">
  <DownloadButtonAndSHA
    buttonHref="https://channels.nixos.org/nixos-23.05/latest-nixos-minimal-x86_64-linux.iso"
    buttonText="Download (64-bit Intel/AMD)"
    shaHref="https://channels.nixos.org/nixos-23.05/latest-nixos-minimal-x86_64-linux.iso.sha256"
    shaText="(SHA-256)"
  />

  <DownloadButtonAndSHA
    buttonHref="https://channels.nixos.org/nixos-23.05/latest-nixos-minimal-aarch64-linux.iso"
    buttonText="Download (64-bit ARM)"
    shaHref="https://channels.nixos.org/nixos-23.05/latest-nixos-minimal-aarch64-linux.iso.sha256"
    shaText="(SHA-256)"
  />

  <DownloadButtonAndSHA
    buttonHref="https://channels.nixos.org/nixos-23.05/latest-nixos-minimal-i686-linux.iso"
    buttonText="Download (32-bit Intel/AMD)"
    shaHref="https://channels.nixos.org/nixos-23.05/latest-nixos-minimal-i686-linux.iso.sha256"
    shaText="(SHA-256)"
  />

</div>

