---

import Button from "../../../ui/Button.astro";

interface Props {
  color?: string;
  size?: string;
  href?: string;
  classList?: string[];
}

const {
  color = "semidarkblue",
  size = "sm",
  href = "",
  classList = [],
  } = Astro.props;

---

<Button
  color={color}
  size={size}
  href={href}
  classList={[
    'w-full',
    'md:w-auto',
    'block',
    'md:inline',
    'text-center',
    'md:text-left',
    classList,
  ]}
>
  <slot />
</Button>
