---

interface Props {
  href?: string;
  classList?: string[];
}

const {
  href = "#",
  classList = [],
  } = Astro.props;

---

<span class="mx-[0.5rem] hidden md:inline">
  <a href={href} class:list={[classList]}>
    <slot />
  </a>
</span>
