---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'> & { variant?: 'blue' | 'white' };

const { href, variant = 'white', ...props } = Astro.props;

let linkProps = { href, ...props };

if (!!href && href.toString().startsWith('http')) {
  linkProps = { ...linkProps, rel: 'noopener noreferrer' };
  if (!linkProps.target) linkProps.target = '_blank';
}
---

<a
  {...linkProps}
  class:list={[
    'link',
    variant == 'blue' && 'link-blue',
    variant == 'white' && 'link-white',
  ]}
>
  <slot />
</a>
