---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, ...props } = Astro.props;

let linkProps = { href, ...props };

if (!!href && href.toString().startsWith('http')) {
  linkProps = { ...linkProps, rel: 'noopener noreferrer' };
  if(!linkProps.target) linkProps.target = '_blank';
}
---

<a {...linkProps}>
  <slot />
</a>
