name: 'CI - Production'

on:
  workflow_dispatch:
  push:
    branches:
      - 'main'

concurrency:
  group: '${{ github.workflow }}-${{ github.head_ref || github.ref_name }}'
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  build:
    name: 'Build nixos.org'
    runs-on: 'ubuntu-latest'
    permissions:
      contents: read
      statuses: write # to set commit status
      deployments: write # to create GitHub deployments for production deploys
    steps:
      - name: 'Checking out the repository'
        uses: 'actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3' # v6.0.0
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: 'Installing Nix'
        uses: 'cachix/install-nix-action@0b0e072294b088b73964f1d72dfdac0951439dbd' # v31.8.4

      - name: 'Setup Cachix'
        uses: 'cachix/cachix-action@0fc020193b5a1fa3ac4575aa3a7d3aa6a35435ad' # v16
        with:
          name: 'nixos-homepage'
          signingKey: '${{ secrets.CACHIX_SIGNING_KEY }}'

      - name: 'Install npm dependencies'
        run: |
          npm install --workspaces --include-workspace-root

      - name: 'Check formatting'
        run: |
          npm exec --package=prettier -c 'prettier --check ./core/src'

      - name: 'Lint'
        run: |
          npm exec --package=eslint -c 'eslint'

      - name: 'Build'
        run: |
          nix build --impure
          mkdir -p ./build
          cp -RL ./result/* ./build/
        env:
          BANNER: ${{ vars.BANNER }}
          THEME: ${{ vars.THEME }}

      - name: 'Publish to Netlify'
        uses: 'nwtgck/actions-netlify@4cbaf4c08f1a7bfa537d6113472ef4424e4eb654' # v3.0.0
        env:
          NETLIFY_AUTH_TOKEN: '${{ secrets.NETLIFY_AUTH_TOKEN }}'
          NETLIFY_SITE_ID: '${{ secrets.NETLIFY_SITE_ID }}'
        with:
          github-token: '${{ secrets.GITHUB_TOKEN }}'
          deploy-message: 'Published from GitHub Actions'
          publish-dir: './build'

          enable-pull-request-comment: true
          overwrites-pull-request-comment: false
          enable-commit-comment: false
          enable-commit-status: true

          production-branch: 'main'
          production-deploy: ${{ github.event_name == 'push' && github.ref_name == 'main' && github.repository == 'NixOS/nixos-homepage' }}

          alias: "${{ github.event_name == 'push' && github.ref_name || '' }}"

          enable-github-deployment: ${{ github.event_name == 'push' }}
          github-deployment-environment: "${{ github.event_name == 'push' && github.ref_name || format('pull-request-{0}', github.event.number) }}"
