name: 'CI - Production'

on:
  workflow_dispatch:
  push:
    branches:
      - 'main'

concurrency:
  group: '${{ github.workflow }}-${{ github.head_ref || github.ref_name }}'
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  build:
    name: 'Build nixos.org'
    runs-on: 'ubuntu-latest'
    permissions:
      contents: read
      statuses: write
      deployments: write
    steps:
      - name: 'Checking out the repository'
        uses: 'actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683' # v4.2.2
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: 'Installing Nix'
        uses: 'cachix/install-nix-action@d1ca217b388ee87b2507a9a93bf01368bde7cec2' # v31.1.0

      - name: 'Setup Cachix'
        uses: 'cachix/cachix-action@0fc020193b5a1fa3ac4575aa3a7d3aa6a35435ad' # v16
        with:
          name: 'nixos-homepage'
          signingKey: '${{ secrets.CACHIX_SIGNING_KEY }}'

      - name: 'Install npm dependencies'
        run: |
          npm install --workspaces --include-workspace-root

      - name: 'Check formatting'
        run: |
          npm run format:check

      - name: 'Lint'
        run: |
          npm run lint

      - name: 'Build'
        run: |
          nix build
          mkdir -p ./build
          cp -RL ./result/* ./build/

      - name: 'Publish to Netlify'
        uses: 'nwtgck/actions-netlify@4cbaf4c08f1a7bfa537d6113472ef4424e4eb654' # v3.0.0
        env:
          NETLIFY_AUTH_TOKEN: '${{ secrets.NETLIFY_AUTH_TOKEN }}'
          NETLIFY_SITE_ID: '${{ secrets.NETLIFY_SITE_ID }}'
        with:
          github-token: '${{ secrets.GITHUB_TOKEN }}'
          deploy-message: 'Published from GitHub Actions'
          publish-dir: './build'

          enable-pull-request-comment: true
          overwrites-pull-request-comment: false
          enable-commit-comment: false
          enable-commit-status: true

          production-branch: 'main'
          production-deploy: ${{ github.event_name == 'push' && github.ref_name == 'main' && github.repository == 'NixOS/nixos-homepage' }}

          alias: "${{ github.event_name == 'push' && github.ref_name || '' }}"

          enable-github-deployment: ${{ github.event_name == 'push' }}
          github-deployment-environment: "${{ github.event_name == 'push' && github.ref_name || format('pull-request-{0}', github.event.number) }}"
