name: "CI"

on:
  workflow_dispatch:
  push:
    branches:
      - "main"
permissions:
  contents: read
  statuses: write
  deployments: write

concurrency:
  group: "${{ github.workflow }}-${{ github.head_ref || github.ref_name }}"
  cancel-in-progress: true

jobs:
  build:
    name: "Build nixos.org"
    runs-on: "ubuntu-latest"
    steps:
      - name: "Checking out the repository"
        uses: "actions/checkout@v4"
        if: ${{ github.event_name == 'push' || github.event_name == 'workflow_dispatch' }}
        with:
          fetch-depth: 0
      - name: "Checking out the PR repository"
        uses: "actions/checkout@v4"
        if: ${{ github.event_name == 'pull_request_target' }}
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          fetch-depth: 0

      - name: "Installing Nix"
        uses: "cachix/install-nix-action@v31"

      - name: "Setup Cachix"
        if: ${{ github.event_name == 'push' && github.repository == 'NixOS/nixos-homepage' }}
        uses: "cachix/cachix-action@v16"
        with:
          name: "nixos-homepage"
          signingKey: "${{ secrets.CACHIX_SIGNING_KEY }}"

      - name: "Install npm dependencies"
        run: |
          npm install --workspaces

      - name: "Check formatting"
        run: |
          npm run format:check --workspaces

      - name: "Lint"
        run: |
          npm run lint --workspaces

      - name: "Build"
        run: |
          nix develop --accept-flake-config --command npm install --workspaces
          nix develop --accept-flake-config --command npm run build --workspaces
          mkdir build
          cp -RL ./core/dist/* ./build/

      - name: "Publish to Netlify"
        uses: "nwtgck/actions-netlify@v3.0.0"
        env:
          NETLIFY_AUTH_TOKEN: "${{ secrets.NETLIFY_AUTH_TOKEN }}"
          NETLIFY_SITE_ID: "${{ secrets.NETLIFY_SITE_ID }}"
        with:
          github-token: "${{ secrets.GITHUB_TOKEN }}"
          deploy-message: "Published from GitHub Actions"
          publish-dir: "./build"

          enable-pull-request-comment: true
          overwrites-pull-request-comment: false
          enable-commit-comment: false
          enable-commit-status: true

          production-branch: "main"
          production-deploy: ${{ github.event_name == 'push' && github.ref_name == 'main' && github.repository == 'NixOS/nixos-homepage' }}

          alias: "${{ github.event_name == 'push' && github.ref_name || '' }}"

          enable-github-deployment: ${{ github.event_name == 'push' }}
          github-deployment-environment: "${{ github.event_name == 'push' && github.ref_name || format('pull-request-{0}', github.event.number) }}"
