name: "CI"

on:
  pull_request_target:

permissions:
  contents: read
  pull-requests: write
  statuses: write

concurrency:
  group: "${{ github.workflow }}-${{ github.head_ref || github.ref_name }}"
  cancel-in-progress: true

jobs:
  build:
    name: "Build nixos.org PR"
    runs-on: "ubuntu-latest"
    steps:
      - name: "Checking out the PR repository"
        uses: "actions/checkout@v4"
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          fetch-depth: 0

      - name: "Installing Nix"
        uses: "cachix/install-nix-action@v31"

      - name: "Install npm dependencies"
        run: |
          npm install --workspaces

      - name: "Check formatting"
        run: |
          npm run format:check

      - name: "Lint"
        run: |
          npm run lint

      - name: "Build"
        run: |
          nix develop --accept-flake-config --command npm install --workspaces
          nix develop --accept-flake-config --command npm run build
          mkdir build
          cp -RL ./core/dist/* ./build/

      - name: "Publish to Netlify"
        uses: "nwtgck/actions-netlify@v3.0.0"
        env:
          NETLIFY_AUTH_TOKEN: "${{ secrets.NETLIFY_AUTH_TOKEN }}"
          NETLIFY_SITE_ID: "${{ secrets.NETLIFY_SITE_ID }}"
        with:
          github-token: "${{ secrets.GITHUB_TOKEN }}"
          deploy-message: "Published from GitHub Actions"
          publish-dir: "./build"

          enable-pull-request-comment: true
          overwrites-pull-request-comment: false
          enable-commit-comment: false
          enable-commit-status: true

          alias: "${{ github.event_name == 'push' && github.ref_name || '' }}"

          enable-github-deployment: false