name: "CI - Pull Request"

on:
  pull_request_target:
    paths-ignore:
      - "**.nix"
      - "core/i18n/**"
      - "package.json"
      - "package-lock.json"
      - "core/package.json"
    branches:
      - main

concurrency:
  group: "${{ github.workflow }}-${{ github.head_ref || github.ref_name }}"
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  check:
    name: "Check nixos.org PR"
    runs-on: "ubuntu-latest"
    permissions:
      contents: read
    steps:
      - name: "Checking out the PR repository"
        uses: "actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd" # v6.0.2
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          fetch-depth: 0
          persist-credentials: false
          clean: true
      - name: "Install npm dependencies"
        run: |
          npm install --workspaces --include-workspace-root
      - name: "Check formatting"
        run: |
          npm exec --package=prettier -c 'prettier --check ./core/src'
      - name: "Lint"
        run: |
          npm exec --package=eslint -c 'eslint'

  build:
    name: "Build nixos.org PR"
    runs-on: "ubuntu-latest"
    needs: check
    permissions:
      contents: read
    steps:
      - name: "Checking out the PR repository"
        uses: "actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd" # v6.0.2
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          fetch-depth: 0
          persist-credentials: false
          clean: true
      - name: "Installing Nix"
        uses: "cachix/install-nix-action@2126ae7fc54c9df00dd18f7f18754393182c73cd" # v31.9.1
      - name: "Build"
        run: nix build
      - name: "Upload build artifact"
        uses: actions/upload-artifact@bbbca2ddaa5d8feaa63e36b76fdaad77386f024f # v7.0.0
        with:
          name: nixos-homepage-artifact
          path: ./result

  publish:
    name: "Publish nixos.org PR"
    runs-on: "ubuntu-latest"
    needs: build
    permissions:
      contents: read # to fetch PR changes
      pull-requests: write # to post PR comments
      statuses: write # to set commit status
    steps:
      - name: "Download build artifact"
        uses: actions/download-artifact@70fc10c6e5e1ce46ad2ea6f2b72d43f7d47b13c3 # v8.0.0
        with:
          name: nixos-homepage-artifact
          path: ./build
      - name: "Publish to Netlify"
        uses: "nwtgck/actions-netlify@4cbaf4c08f1a7bfa537d6113472ef4424e4eb654" # v3.0.0
        env:
          NETLIFY_AUTH_TOKEN: "${{ secrets.NETLIFY_AUTH_TOKEN }}"
          NETLIFY_SITE_ID: "${{ secrets.NETLIFY_SITE_ID }}"
        with:
          github-token: "${{ secrets.GITHUB_TOKEN }}"
          deploy-message: "Published from GitHub Actions"
          publish-dir: "./build"

          enable-pull-request-comment: true
          overwrites-pull-request-comment: false
          enable-commit-comment: false
          enable-commit-status: true

          alias: "${{ github.event_name == 'push' && github.ref_name || '' }}"

          enable-github-deployment: false
