name: "CI - Pull Request"

on:
  pull_request_target:
    paths-ignore:
      - "**.nix"
      - "core/i18n/**"
      - "package.json"
      - "package-lock.json"
      - "core/package.json"
    branches:
      - main

concurrency:
  group: "${{ github.workflow }}-${{ github.head_ref || github.ref_name }}"
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  check:
    name: "Check nixos.org PR"
    runs-on: "ubuntu-latest"
    permissions:
      contents: read
    steps:
      - name: "Checking out the PR repository"
        uses: "actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8" # v6.0.1
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          fetch-depth: 0
          persist-credentials: false
          clean: true
      - name: "Install npm dependencies"
        run: |
          npm install --workspaces --include-workspace-root
      - name: "Check formatting"
        run: |
          npm exec --package=prettier -c 'prettier --check ./core/src'
      - name: "Lint"
        run: |
          npm exec --package=eslint -c 'eslint'

  build:
    name: "Build nixos.org PR"
    runs-on: "ubuntu-latest"
    needs: check
    permissions:
      contents: read
    steps:
      - name: "Checking out the PR repository"
        uses: "actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8" # v6.0.1
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          fetch-depth: 0
          persist-credentials: false
          clean: true
      - name: "Installing Nix"
        uses: "cachix/install-nix-action@4e002c8ec80594ecd40e759629461e26c8abed15" # v31.9.0
      - name: "Build"
        run: nix build
      - name: "Upload build artifact"
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: nixos-homepage-artifact
          path: ./result

  publish:
    name: "Publish nixos.org PR"
    runs-on: "ubuntu-latest"
    needs: build
    permissions:
      contents: read # to fetch PR changes
      pull-requests: write # to post PR comments
      statuses: write # to set commit status
    steps:
      - name: "Download build artifact"
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: nixos-homepage-artifact
          path: ./build
      - name: "Publish to Netlify"
        uses: "nwtgck/actions-netlify@4cbaf4c08f1a7bfa537d6113472ef4424e4eb654" # v3.0.0
        env:
          NETLIFY_AUTH_TOKEN: "${{ secrets.NETLIFY_AUTH_TOKEN }}"
          NETLIFY_SITE_ID: "${{ secrets.NETLIFY_SITE_ID }}"
        with:
          github-token: "${{ secrets.GITHUB_TOKEN }}"
          deploy-message: "Published from GitHub Actions"
          publish-dir: "./build"

          enable-pull-request-comment: true
          overwrites-pull-request-comment: false
          enable-commit-comment: false
          enable-commit-status: true

          alias: "${{ github.event_name == 'push' && github.ref_name || '' }}"

          enable-github-deployment: false
