---
import Container from '@/components/layout/Container.astro';

const { class: extraClasses, wrapperClasses, id = null } = Astro.props;
---

<div
  id={id}
  class:list={[
    'clickable cursor-pointer bg-nix-blue-extralight font-heading font-bold text-nix-blue-dark',
    wrapperClasses,
  ]}
>
  <Container class:list={['p-4', extraClasses]}>
    <slot />
  </Container>
</div>

<script>
  const clickables = document.querySelectorAll('.clickable');

  clickables.forEach((clickable) => {
    clickable.addEventListener('click', () => {
      (clickable.querySelector('a, button') as HTMLElement).click();
    });
  });
</script>
