---
interface Props {
    color: ["orange", "green", "blue"]
    size: ["sm", "lg"]
}

const colorMap = {
    "orange": "bg-nixorange",
    "lightblue": "bg-nixlightblue",
    "semidarkblue": "bg-nixsemidarkblue",
    "green": "bg-nixgreen"
}

const sizeMap = {
    "sm": "px-10 py-2.5 rounded-3xl",
    "lg": "px-14 py-4 rounded-2xl"
}

const { color = "orange", size = "sm", href = "" } = Astro.props;
---

<button class={`${colorMap[color]} font-bold ${sizeMap[size]} drop-shadow-[0_4px_1px_rgba(0,0,0,0.2)]`}>
  <a href={href} class="!text-white !no-underline">
    <slot/>
  </a>
</button>
