---
export interface Props {
  id: number;
}

const { id } = Astro.props;
---

<span class="inline-block">
  <details class="inline">
    <summary class="inline-block cursor-pointer">
      <sup class="text-nix-blue hover:text-nix-blue">[{id}]</sup>
    </summary>
    <div
      class="absolute bg-white border border-gray-300 p-2 mt-1 rounded shadow-lg max-w-sm text-sm"
    >
      <slot />
    </div>
  </details>
</span>

<style>
  details[open] > summary > sup {
    @apply text-nix-blue;
  }
</style>

<script>
  // Optional: Close other open details when one is opened
  document.addEventListener("click", (event) => {
    if (
      event.target instanceof HTMLElement &&
      event.target.tagName === "SUMMARY"
    ) {
      document.querySelectorAll("details[open]").forEach((detail) => {
        if (detail !== event.target.parentElement) {
          detail.removeAttribute("open");
        }
      });
    }
  });
</script>
