---
import { Icon } from 'astro-icon/components';

interface Props {
  color?: 'nix-blue' | 'white';
  size?: 'sm' | 'lg' | 'sm-full';
  icon?: 'search' | null;
  placeholder?: string;
  name?: string;
}

const {
  color = 'nix-blue',
  size = 'lg',
  // eslint-disable-next-line @typescript-eslint/no-unused-vars
  icon = null,
  placeholder = '',
  name = null,
} = Astro.props;
---

<div class="relative">
  <Icon
    alt="Search"
    class:list={[
      'absolute h-8 w-8',
      {
        'text-nix-blue': color === 'nix-blue',
        'text-white': color === 'white',
        'top-3.5 left-3 md:block': size === 'lg',
        'top-1.5 left-2.5': size === 'sm-full',
      },
    ]}
    name="mdi:search"
  />
  <input
    type="text"
    class="focus:border-nix-blue-light focus:outline-nix-blue-light border-gray-200 outline-2 outline-transparent"
    class:list={[
      'text-normal rounded-full placeholder-gray-400',
      {
        'placeholder-grey-200 text-nix-blue border-gray-200 bg-white':
          color === 'nix-blue',
        'placeholder-nix-blue-extralight border-white bg-transparent text-white':
          color === 'white',
        'w-full border-2 py-3 pr-4 pl-11 text-xl md:w-[30rem]': size === 'lg',
        'w-full border-1 px-10 py-2 md:pl-11': size === 'sm-full',
      },
    ]}
    name={name}
    placeholder={placeholder}
  />
</div>
