---
import { Icon } from 'astro-icon/components';

interface Props {
  color?: 'nix-blue' | 'white';
  size?: 'sm' | 'lg' | 'sm-full';
  icon?: 'search' | null;
  placeholder?: string;
  name?: string;
}

const {
  color = 'nix-blue',
  size = 'lg',
  icon = null,
  placeholder = '',
  name = null,
} = Astro.props;
---

<div class="relative">
  <Icon
    class:list={[
      'absolute h-8 w-8',
      {
        'text-nix-blue': color === 'nix-blue',
        'text-white': color === 'white',
        'left-3 top-3.5 md:block': size === 'lg',
        'left-2.5 top-1.5': size === 'sm-full',
      },
    ]}
    name="mdi:search"
  />
  <input
    type="text"
    class="outline-2 outline-nix-blue-light focus:border-nix-blue-light focus:outline"
    class:list={[
      'text-normal rounded-full placeholder-gray-400',
      {
        'placeholder-grey-200 text-nix-blue': color === 'nix-blue',
        'border-white bg-transparent text-white placeholder-nix-blue-extralight':
          color === 'white',
        'w-full border-2 py-3 pl-11 pr-4 text-xl md:w-[30rem]': size === 'lg',
        'w-full border-1 px-10 py-2 md:pl-11': size === 'sm-full',
      },
    ]}
    name={name}
    placeholder={placeholder}
  />
</div>
