---
import type { HTMLAttributes } from 'astro/types';

import Link from '@/components/util/Link.astro';

interface Props extends HTMLAttributes<'a'> {}

const { href = '#', ...props } = Astro.props;
---

<span class="mx-[0.5rem] hidden md:inline">
  <Link href={href} {...props}>
    <slot />
  </Link>
</span>
