---
import { cva, type VariantProps } from 'class-variance-authority';

import Link from '@/components/util/Link.astro';

export const tagVariants = cva(
  'border py-[0.125rem] px-[0.5rem] inline-block w-fit rounded-md font-bold leading-none !no-underline text-sm',
  {
    variants: {
      color: {
        orange: 'bg-nix-orange !text-white',
        'outline-orange': 'bg-transparent border-nix-orange text-nix-orange',
        darkgreen: 'bg-nix-green-dark !text-white',
        'outline-darkgreen':
          'bg-transparent border-nix-green-dark text-nix-green-dark',
        lightblue: 'bg-nix-blue-light !text-white',
        'outline-lightblue':
          'bg-transparent border-nix-blue-light text-nix-blue-light',
        darkblue: 'bg-nix-blue !text-white',
        'outline-darkblue': 'bg-transparent border-nix-blue text-nix-blue',
      },
    },
  },
);

interface Props extends VariantProps<typeof tagVariants> {
  class?: string;
  href?: string | null;
}

const { color = 'darkblue', class: extraClasses, href = null } = Astro.props;
---

{
  href ? (
    <Link href={href} class:list={[tagVariants({ color }), extraClasses]}>
      <slot />
    </Link>
  ) : (
    <span class:list={[tagVariants({ color }), extraClasses]}>
      <slot />
    </span>
  )
}
