---

interface Props {
  color?: "orange" | "darkgreen" | "lightblue" | "semidarkblue";
  classList?: string[];
  href?: string | null;
}

const colorMap = {
  "orange": "bg-nixorange",
  "lightblue": "bg-nixlightblue",
  "semidarkblue": "bg-nixsemidarkblue",
  "darkgreen": "bg-nixdarkgreen"
}

const {
  color = "semidarkblue",
  classList = [],
  href = null,
} = Astro.props;

const localClassList = `${colorMap[color]} w-fit rounded-lg font-bold !text-white !no-underline text-sm px-[0.5rem] py-[0.25rem]`;
---

<a href={href} class:list={[localClassList, classList]}>
  <slot/>
</a>
