---
import { Icon } from 'astro-icon/components';

interface Props {
  href: string;
  iconName: string;
  name?: string;
  description?: string;
  type?: 'full' | 'mobile_icon_desktop_name' | 'icon';
}

const {
  href,
  iconName,
  name = '',
  description = '',
  type = 'full',
} = Astro.props;
---

<li
  class:list={[
    'flex-1 cursor-pointer rounded-xl border-2 border-nix-blue bg-white p-4 transition-all hover:bg-nix-blue-extralight',
    type === 'icon' && 'flex flex-col items-center justify-center',
  ]}
>
  <a href={href} class="text-nix-blue! no-underline!">
    <div
      class:list={[
        'flex gap-2 text-xl font-bold',
        (type !== 'full' || description === '') && 'h-full',
        type === 'mobile_icon_desktop_name' &&
          'flex-col items-center justify-center md:flex-row md:justify-start',
      ]}
    >
      <Icon name={iconName} alt={'logo of ' + name} class="h-8 w-8" />
      {
        type !== 'icon' && (
          <span
            class:list={[
              'ml-2 leading-8',
              type === 'mobile_icon_desktop_name' && 'hidden md:block',
            ]}
          >
            {name}
          </span>
        )
      }
    </div>
    {
      description !== '' && type === 'full' && (
        <div class="mt-2">{description}</div>
      )
    }
  </a>
</li>
