---
interface Props {
  number: string;
}

const { number = 0 } = Astro.props;
---

<div
  class="bg-secondary-afghani-blue absolute top-0 left-[-3rem] hidden h-full w-1 md:block"
>
</div>
<div
  class="bg-secondary-afghani-blue-45 text-primary-white absolute top-0 left-[-5rem] hidden h-16 w-16 rounded-full text-center text-4xl leading-[4rem] font-black md:block"
>
  {number}
</div>
