---
interface Props {
  number: string;
}

const { number = 0 } = Astro.props;
---

<div
  class="bg-secondary-afghani-blue absolute top-0 left-[-3rem] hidden h-full w-1 md:block"
>
</div>
<div
  class="bg-secondary-afghani-blue-45 text-primary-white absolute -top-3 left-[-5rem] hidden h-[4rem] w-[4rem] rounded-[2rem] pt-1 text-center text-[3rem] leading-[4rem] font-bold md:block"
>
  {number}
</div>
